/*
* Node Add
*/

// form buttons
form {
  #edit-submit,
  #edit-preview {
    margin: 0 0 15px 15px;
  }
}

// Title and body field wrapper
// Right area wrapper
.group-main-fields,
.group-right {
  @include forms;

  .form-item,
  .text-format-wrapper {
    border: none;
    margin-bottom: 0;
  }

  .text-format-wrapper {
    padding-bottom: 10px;
  }
}

// User housing slide images
.group-post-images {
  margin-bottom: 15px;
}

.group-post-images,
.group-post-files {
  background: #f2f2f2;
  clear: both;
  font-size: 13px;
  padding-right: 20px;

  .form-item {
    padding: 20px;
  }

  .tabledrag-toggle-weight-wrapper {
    display: none;
  }

  table {
    border-bottom: 1px solid $grey - #111;
    padding-bottom: 20px;
    width: 480px;

    thead {
      display: none;
    }

    tbody {

      .form-submit {
        line-height: 14px;
      }
    }

    td {
      vertical-align: top;

      .form-submit {
        float: right;
        margin: 0;
      }
    }
  }

  .tabledrag-changed-warning {
    background: pink;
    font-size: 13px;
    margin-bottom: 15px;
    padding: 10px;
    width: 480px;
  }

  .fieldset-legend {
    display: none;
  }

  .file {
    display: none;
  }

  .file-size {
    font-size: 13px;
  }

  .tabledrag-changed {
    display: none;
  }

  .form-type-managed-file {
    width: 480px;

    label {
      font-size: 18px;
    }

    input {
      font-size: 13px;
    }

    .form-managed-file {
      margin: 20px 0;

      .image-widget-data {
        width: 480px;
      }

      input[type=file] {
        line-height: 14px;
      }

      .form-submit {
        float: right;
        margin-right: 0;
      }
    }
  }
}