/************************ APP FUNCTIONALITY ***************************/

#sub-header {
  background: none;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}
.page-chess-search .limiter,
.page-ess-management-system .limiter,
.page-chess-search #sub-header,
.page-ess-management-system #sub-header {
  max-width: none;
}
.view-app-glossary.view-display-id-page,
.view-display-id-page_1,
.view-chess-search-view,
.view-essms,
.page-import .tableheader-processed,
.page-import #feeds-import-form {
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
}
.glossary-intro,
.phonebook-intro,
.essms-intro {
  padding-bottom: 15px;
}
.view-app-glossary.view-display-id-page p,
.view-display-id-page_1 p,
.view-chess-search-view p,
.view-essms p {
  margin: 0 0 1em 0;
}
.glossary-intro ul,
.phonebook-intro ul {
  margin: 1em 0;
  padding: 0 0 0.25em 2.5em;
}
.glossary-intro li,
.phonebook-intro li {
  display: list-item;
  list-style-type: disc;
  text-align: -webkit-match-parent;
}
.essms-intro .essms-intro-image {
  float: right;
}
.glossary-letters {
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  background: #f7f7f7;
  border-top: 1px solid #eee;
}
.glossary-letter {
  float: left;
  padding-left: 15px;
  border-left: 1px solid #bbb;
  margin: 15px 0 15px 15px;
  font-size: 20px;
  font-weight: 600;
}
.glossary-letter.all {
  padding-left: 0;
  margin-left: 10px;
  border-left: none;
}
.view-app-glossary.view-display-id-page input.form-text,
.view-app-glossary.view-display-id-page textarea.form-textarea,
.view-app-glossary.view-display-id-page select.form-select,
.view-display-id-page_1 input.form-text,
.view-display-id-page_1 textarea.form-textarea,
.view-display-id-page_1 select.form-select,
.view-chess-search-view input.form-text,
.view-chess-search-view textarea.form-textarea,
.view-chess-search-view select.form-select,
.view-essms input.form-text,
.view-essms textarea.form-textarea,
.view-essms select.form-select {
  border: 1px solid #ccc;
}

.view-essms td {
  vertical-align: top;
}

#views-exposed-form-app-glossary-page,
#views-exposed-form-phonebook-users-page-1,
#views-exposed-form-chess-search-view-page,
#views-exposed-form-essms-page {
  float: left;
  margin: 0px 0 30px 0;
  padding-bottom: 10px;
  padding-top: 15px;
  background: #f7f7f7;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
	width: 100%;
}

.view .exposed-filter,
.view .form-item-items-per-page {
  float: left;
  height: 60px;
  margin: 15px 20px 0 10px;
}

.view .exposed-filter .form-item {
  background: #fff;
  margin-top: 5px;
}

.view .exposed-filter .form-item.form-type-select {
  background: none;
  margin: 0 -20px 0 -5px;
}

.exposed-filter > input {

}

.exposed-filter-buttons {
  padding: 20px 0 0 10px;
  float: left;
}

#views-exposed-form-app-glossary-page label,
#views-exposed-form-phonebook-users-page-1 label,
#views-exposed-form-chess-search-view-page label,
#views-exposed-form-essms-page label {
  font-weight: bold;
}

label[for=edit-items-per-page] {
  float: left;
}

#views-exposed-form-app-glossary-page input.form-submit, a.button,
#views-exposed-form-phonebook-users-page-1 input.form-submit, a.button,
#views-exposed-form-chess-search-view-page input.form-submit, a.button,
#views-exposed-form-essms-page input.form-submit, a.button {
  background: #fff url(../graphics/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em;
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
	float: left;
	margin-top: 15px;
}
.view-app-glossary.view-display-id-page td.active, .view-app-glossary.view-display-id-page th.active {
	background: #f0f0f0;
}
.view-app-glossary.view-display-id-page td.active a, .view-app-glossary.view-display-id-page th.active a {
  color: #004155;
}
.views-field-field-glossary-term-abbreviation {}
.views-field-field-glossary-term-full-term {
  min-width: 250px;
}
.views-field-field-glossary-term-description {}
.views-field-field-glossary-term-context {}
.view-app-glossary.view-display-id-page .views-field-changed {
  min-width: 150px;
}
.item-list .pager {
  clear: both;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
.item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}

.item-list .pager-current {
  font-weight: 700;
}

.view-app-glossary.view-display-id-page .even,
.view-display-id-page_1 .even {
	background-color: #f9f9f9;
}

.page-import #feeds-import-form fieldset {
  margin: 15px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.page-import #feeds-import-form fieldset legend {
  font-size: 16px;
  font-weight: 600;
}

.page-import #feeds-import-form fieldset .form-item {
  border-bottom: 1px solid #eee;
}

.page-import #feeds-import-form div {
  margin: 5px 0;
}

.page-import #feeds-import-form div.description {
  color: #888;
  margin: 5px 0;
}

.page-import #feeds-import-form fieldset .form-item.form-type-file {
  border: none;
}

.page-import #edit-feeds-feedscsvparser-no-headers {
  margin-right: 10px;
}
