#calendar-page {

  h1#page-title {
    @include span-columns(7 of 10);
  }

  #create {
    @include span-columns(3 of 10);
    @include omega;
    margin: 30px 0;
    text-align: right;
  }

  #events-wrapper {
    @include span-columns(10 of 10);
    margin-bottom: 40px;

    .left-column {
      @include span-columns(7 of 10);

      .events-listing {
        background: white;
        @include pad(15px);

        .date-nav-wrapper {
          margin: 0;

          .date-nav {
            margin: 0;
            padding-bottom: 0;

            h3 {
              background: $interface-light;
              display: block;
              font-size: 16px;
              font-weight: 400;
              height: 50px;
              line-height: 50px;
              text-transform: uppercase;
              text-align: center;

              a {
                color: #FFF;
              }
            }

            ul.pager {
              padding: 0;

              li {
                display: block;
                position: absolute;
                top: 10px;
                height: 30px;
                border-radius: 0px;
                padding: 0px;
                width: 100px;

                &.date-prev {
                  left: 10px;

                  a {
                    background-position: left -48px;
                    left: 0px;
                  }
                }

                &.date-next {
                  right: 10px;

                  a {
                    background-position: right -78px;
                    right: 0px;
                  }
                }

                a {
                  display: block;
                  position: absolute;
                  top: 0px;
                  height: 30px;
                  color: white;
                  background: $blue-light;
                  line-height: 30px;
                  margin: 0px;
                  padding: 0 10px;
                  border-radius: 2px;
                }
              }
            }
          }
        }

        .node-teaser {
          padding: 20px;
          border-bottom: 1px solid $interface-border;

          &:last-child {
            margin-bottom: 0px;
            border-bottom: 0px none;
          }
        }

        .events-empty {
          text-align: center;
          font-size: 16px;
          line-height: 21px;
          padding: 30px 0;
        }
      }
    }

    .right-column {
      @include span-columns(3 of 10);
      @include omega();

      // Fit styling
      @include media($fit) {
        display: none;
      }
    }
  }
}

.right-column #calendar,
.node-sidebar-one #calendar {
	margin-bottom: 3em;
	background: white;
  overflow: hidden;

  // Mobile styling
  @include media($small) {
    margin: 0 10px 1em;
  }

  .date-nav-wrapper {
    margin: 0;

    .date-nav {
      margin: 0;
      padding-bottom: 0;

      h3 {
        background: $blue-tornado;
        display: block;
        font-size: 16px;
        font-weight: 400;
        height: 50px;
        line-height: 50px;
        text-transform: uppercase;
        text-align: center;

        a {
          color: #FFF;
        }
      }

      ul.pager {
        padding: 0;

        li {
          display: block;
          position: absolute;
          top: 10px;
          width: 30px;
          height: 30px;
          border-radius: 0px;
          padding: 0px;

          &.date-prev {
            left: 10px;

            a {
              background-position: -9px -9px;

              &:hover {
                background: $blue-dark url('../graphics/calnav-sprite.png') no-repeat left top;
                background-position: -9px -9px;
              }
            }
          }

          &.date-next {
            right: 10px;

            a {
              background-position: -57px -9px;

              &:hover {
                background: $blue-dark url('../graphics/calnav-sprite.png') no-repeat left top;
                background-position: -57px -9px;
              }
            }
          }

          a {
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 30px;
            height: 30px;
            background: $blue-evening url('../graphics/calnav-sprite.png') no-repeat left top;
            color: $blue-evening;
            font-size: 0px;
            line-height: 0px;
            margin: 0px;
          }
        }
      }
    }
  }

  .calendar-calendar {
  	@include pad(15px);

    thead {

      th.days {
      	background: white;
        border: 0px none;
        color: $dark;
        font-weight: 400;
        height: 30px;
        line-height: 30px;
      }
    }

    tbody {

      td {
      	background: $interface-light;
      	border: 1px solid white;
      	padding: 0;
      	text-align: center;
      	height: 35px;
      	line-height: 35px;
      	font-weight: 600;
      	color: $dark;

      	&.empty {
      		background: $grey;

      		.calendar-empty {
        		font-size: 0px;
        		line-height: 0px;
        	}
      	}

        &.past {

          &.has-events {

          }
        }

        &.today {
        	background-color: white;
        }

        &.has-events {
        	background: $interface-light url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAALklEQVQIHWM8ISn5nwEHYDJ/9owRhxwDE0gClwKwJC4FcElsClAk0RVgSCIrAADIEw4f6mT4dAAAAABJRU5ErkJggg==') no-repeat right top;

          .mini-day-on {

            a {
            	text-decoration: none;
            	font-weight: 600;
            }
          }
        }
      }
    }
  }



  #upcoming-events {
  	@include pad(0 15px 15px);
  	@include clearfix;

    // Mobile styling
    @include media($small) {
      @include pad(10px);
    }

  	.pane-title {
  		background: url("../graphics/icon-sprite.png") no-repeat -11px -210px;
  		padding-left: 30px;
  		font-size: 16px;
  		line-height: 22px;
  		margin-bottom: 2px;
  		color: #fff;
      margin-top: 0;
  	}

  	.pane-heading {
  		padding: 15px 20px;
  		background: $blue-tornado;
  		border-left: 5px solid $blue-evening;
      margin-bottom: 2px;
  	}

  	.node-event {
  		border-left: 5px solid $interface-border;
  		margin-bottom: 2px;
  	}
  }
}

.create-event {
  display: block;
  padding: 20px 0;
  margin: 0 15px 15px;
  background: $interface-light;
  text-align: center;
  text-transform: uppercase;
  color: $green;
  font-weight: 600;

  &:hover {
    color: $green-dark;
  }
}
