#comments {
	margin: 30px 0 0 0;
	border-top: 1px solid $interface-border;
  padding-top: 30px;

  // Mobile styling
  @include media($small) {
   	padding-top: 20px;
   	margin: 20px 0 0 0;
  }

	h2#comments-heading {
		display: block;
		position: relative;
		background: $blue-evening;
		color: white;
		font-size: 24px;
		line-height: 50px;
		font-weight: 200;
		padding: 0 15px;

		// Mobile styling
	  @include media($small) {
	   	font-size: 16px;
	  }

		span.add-button {
			display: block;
			position: absolute;
			right: 10px;
			top: 10px;
			height: 30px;
	    line-height: 30px;
	    padding: 0 10px 0 30px;
	    font-weight: 600;
	    font-size: 14px;
	    color: #FFF;
	    background: $blue-light url('../graphics/icon-sprite.png') no-repeat -5px -5px;
	    @include transition (background 0.2s ease-in);
	    cursor: pointer;

	    // Mobile styling
		  @include media($small) {
				font-size: 12px;
			}

	    &:hover {
	      background: shade($blue-light,40%) url('../graphics/icon-sprite.png') no-repeat -5px -5px;
	    }
		}
	}

	#add-comment-form {
		background: $interface-light;
		padding: 30px;
		margin-bottom: 15px;
		display: none;

		h3#comments-add-heading {
			margin-top: 0px;
		}

		#comment-form {

			#edit-author--2,
			#comment-body-add-more-wrapper .form-type-textarea label {
				display: none;
			}

			.form-type-textarea {
				margin-bottom: 15px;

				.description {
					color: $form-border;
					font-size: 12px;
					font-style: italic;
				}

				.form-textarea {
					width: 100%;
					height: 80px;
			    border: 1px solid $interface-border;
			    box-shadow: 0 1px 2px rgba(0,0,0,0.05) inset;
			    background-color: $interface-lighter;
			    padding: 2px;
				}
			}
		}
	}

	#comments-empty {
		background: tint($sunset,90%);
		color: shade($sunset,30%);
		padding: 15px;
	}

	#comment-list {
		margin-top: 15px;

		.comment {

			&.view-mode-full {
				overflow: hidden;
				padding-bottom: 15px;
				border-bottom: 1px solid $interface-border;
				margin-bottom: 15px;

				.comment-left {
					float: left;
					margin-right: 15px;
				}

				.comment-right {
					overflow: hidden;

					.comment-body {
						margin-bottom: 15px;
					}

					.author {
						font-style: italic;
						font-size: 12px;

						a.username {
							font-weight: 600;
						}
					}
				}

				&:last-child {
					margin-bottom: 0px;
					padding-bottom: 0px;
					border-bottom: 0px none;
				}
			}
		}
	}
}

.node-type-wiki .comment {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.node-type-wiki .comment .user-picture {
  float: left;
  margin-right: 15px;
  width: 50px;
}
.node-type-wiki .comment .user-picture img {
  width: 100%;
  height: 100%;
}
.node-type-wiki .comment h3 {
  display: none;
}
.node-type-wiki .comment .submitted {
  margin-bottom: 15px;
}
.node-type-wiki .comment .submitted .permalink {
  display: none;
}
.node-type-wiki .comment .submitted .username {
  font-weight: bold;
}
.node-type-wiki .comment .content {
  margin-bottom: 15px;
  margin-left: 65px;
}
.node-type-wiki .comment .content .rate-widget {
  display: none;
}
.node-type-wiki .comment ul.links.inline {}
.node-type-wiki .comment ul.links.inline li {
  float: right;
  margin-left: 15px;
}
.node-type-wiki .comment ul.links.inline li.comment-delete {}
.node-type-wiki .comment ul.links.inline li.comment-edit {}
.node-type-wiki .comment ul.links.inline li.comment-reply {}
.node-type-wiki .comment ul.links.inline li.flag-inappropriate_comment {}

.comment-body p {
	margin: 0 0 1em 0;
}
