/*
* Remove padding/spacing on smaller devices
*/
.page-home {

  // Mobile styling
  @include media($small) {
    .barrier {
      padding: 0;

      #dashboard #dashboard-content .left-column {
        .panel-pane,
        #activity-feed {
          margin: 0 10px 1em;
          width: auto;
        }
      }
    }
  }
}

#dashboard {

	#dashboard-content {
		@include span-columns(10 of 10);
    margin-bottom: 40px;

    .left-column {
    	@include span-columns(7 of 10);

      @include media($fit) {
        @include span-columns(10 of 10);
      }

    	#featured-articles {
    		position: relative;

        // Mobile styling
        @include media($small) {
          margin-bottom: 1em;
        }

    		.bx-controls {
    			position: absolute;
    			left: 30px;
    			top: 30px;
    			z-index: 10;

          // Mobile styling
          @include media($small) {
            left: 15px;
            top: 15px;
          }

    			.bx-pager-item {
    				float: left;
    				margin-right: 10px;

    				a {
    					display: block;
    					width: 10px;
    					height: 10px;
    					color: $blue-light;
    					font-size: 0px;
    					line-height: 0px;
    					background: $blue-evening;
    					border-radius: 10px;

    					&.active {
    						background: white;
    					}
    				}
    			}
    		}
    	}

    	.pane-relevant-articles-panel-pane-1 {
    		padding: 15px;
    		background: #fff;
    		@include block-style;
    		margin-bottom: 3em;

        // Mobile styling
        @include media($small) {
          padding: 10px;
        }

    		.pane-title {
		  		margin-bottom: 2px;
    		}

    		.pane-content {
    			padding: 0;
    		}
    	}

    	#private-groups {
    		@include span-columns(6 of 6);
    		margin-bottom: 1em;

    		.node-group {
    			@include span-columns(2 of 6);
    			@include omega(3n);
    			margin-bottom: 2em;
    		}
    	}

    	#activity-feed {
    		@include span-columns(6 of 6);
    		@include clearfix;
    		@include block-style;
    		@include pad(15px);
    		position: relative;

        // Mobile styling
        @include media($small) {
          @include pad(10px);
        }

    		.pane-content {
    			padding: 0;

    			#views-exposed-form-commons-homepage-content-panel-pane-1 {
	    			position: absolute;
	    			right: 10px;
	    			top: 25px;
	    			margin: 0;
	    			color: white;

            .admin-menu & {
              top: -40px;
            }

            // Mobile styling
            @include media($small) {
              display: none;
            }

	    			label {
							font-size: 12px;
					    font-weight: 400;
					  }

					  label,
					  div {
					  	display: block;
					  	float: left;
					  	height: 30px;
					  	line-height: 30px;
					  	margin: 0;
					  }
	    		}

	    		.node-teaser {
	    			padding: 20px;
    				border-bottom: 1px solid $interface-border;

            // Mobile styling
            @include media($small) {
              padding: 15px 10px;
            }

	    			&:last-child {
	    				padding-bottom: 0px;
	    				margin-bottom: 15px;
	    				border-bottom: 0px none;
	    			}
	    		}
    		}
    	}
    }

    .right-column {
    	@include span-columns(3 of 10);
    	margin-right: 0;

      // Mobile styling
      @include media($fit) {
        @include span-columns(10 of 10);
      }

    	#head-groups,
    	.pane-general-groups,
        .pane-specific-groups {
    		@include span-columns(4 of 4);

        // Mobile styling
        @include media($small) {
          @include pad(0 10px);
        }

    		.node-group {
    			@include span-columns(2 of 4);
    			@include omega(2n);
    			margin-bottom: 2em;
    		}
    	}
    }
	}
}

.pane-comments {
  @include span-columns(4 of 4);
  @include clearfix;
  @include block-style;

  @include media($small) {
    margin: 0 10px 1em;
    float: none;
    width: auto;
  }

  h2.pane-title {
    font-size: 18px;
  }

  .comment.view-mode-teaser {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $interface-border;

    &:last-child {
      border-bottom: none;
    }

    .comment-main {
      padding-left: 40px;
      background: url('../graphics/comment-icon-large.png') no-repeat 0 10px;
    }

    .author {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .author,
    .comment-body {
      margin-bottom: 10px;
    }

    .comment-author,
    .comment-title {
      font-weight: 600;
    }

    .comment-body {
      color: #8b8b8b;
      font-style: italic;
      font-weight: 300;
    }

    .read-more-comment-url {
      display: block;
      font-size: 12px;
      font-weight: 600;
    }
  }
}
