/* Sidebar block */
#employee-actions {
	@include pad(0 15px 15px);
	@include clearfix;
  @include block-style;

	h2.pane-title {
		margin-bottom: 2px;
		color: #fff;
    margin-top: 20px;
	}

	.pane-heading {
		padding: 15px 20px;
		background: $blue-tornado;
		border-left: 5px solid $blue-evening;
    margin-bottom: 2px;
	}

  .pane-content {
    padding: 0;
  }

	.views-field-title a {
		border-left: 5px solid $interface-border;
		margin-bottom: 2px;
    display: block;
    background: $interface-light;
    padding: 10px 15px;
    @include transition (background 0.2s ease-in);

    &:hover {
      background: shade($interface-light,10%);
    }
	}
}

/* Menublock block */
#block-menu-menu-taskbar-employee-actions {
  ul {
    li {
      a {
        color: #fff;
        display: block;
        padding: 5px 20px;
        border-bottom: 1px solid $blue-tornado;
      }
    }
  }
}

/* Actions page */
.page-actions {

  #sub-header {
    background: none;
  }

  .left-column {
    width: 70%;
    background: #fff;
    @include block-style;
    padding: 15px;
    margin-left: 20px;
  }

  .view-actions {
    .node-teaser {
      padding: 20px 0;
      border-bottom: 1px solid $interface-border;

      &:first-child {
        padding: 0px;
      }

      &:last-child {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: 0px none;
      }
    }
  }
}