.node-type-group.page-node-315 #content-wrapper .group-sidebar-one {
  display: none;
}

.node-type-group.page-node-315 #content-wrapper .main-column {
  @include span-columns(8);
  @include media($fit) {
    @include span-columns(12);
    @include pad(20px);
  }
}
