#views-exposed-form-commons-homepage-content-panel-pane-1,
#views-exposed-form-access-groups-directory-panel-pane-1,
#views-exposed-form-access-bw-all-default,
#views-exposed-form-access-bw-wikis-default,
#views-exposed-form-access-bw-documents-page-1,
#views-exposed-form-access-bw-polls-default,
#views-exposed-form-access-bw-q-a-default,
#views-exposed-form-access-bw-posts-default {
	margin: 20px 0 0;
	padding: 0px;
	float: right;

	label,
	div {
		display: block;
		float: left;
		height: 30px;
		margin: 0;
		line-height: 30px;
	}

	label {
		font-size: 14px;
    font-weight: 600;
    display: inline;
    margin-bottom: 10px;
  }

  .form-submit {
  	margin: 0px;
  	background: $blue-evening;
  	color: white;
  	font-weight: 300;
  	padding: 4px 10px;
  }
}