form {

	#edit-submit {
		display: inline-block;
		background: $green;
		margin-right: 5px;
		color: white;
		font-weight: 600;
		padding: 5px 20px;
		cursor: pointer;
		@include transition (background 0.2s ease-in);
		-webkit-appearance: none;

		&:hover {
			background: shade($green,40%);
		}
	}

	#edit-preview {
		display: inline-block;
		background: $blue-light;
		margin-right: 5px;
		color: white;
		font-weight: 600;
		padding: 5px 20px;
		cursor: pointer;
		@include transition (background 0.2s ease-in);

		&:hover {
			background: shade($blue-light,40%);
		}
	}

	#edit-preview-changes {
		display: inline-block;
		background: $interface-grey;
		margin-right: 5px;
		color: white;
		font-weight: 600;
		padding: 5px 20px;
		cursor: pointer;
		@include transition (background 0.2s ease-in);

		&:hover {
			background: shade($interface-grey,40%);
		}
	}

	#edit-delete {
		display: inline-block;
		background: shade(red,20%);
		margin-right: 5px;
		color: white;
		font-weight: 600;
		padding: 5px 20px;
		cursor: pointer;
		@include transition (background 0.2s ease-in);

		&:hover {
			background: shade(red,50%);
		}
	}
}