/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * Header
 * Logo
 * Search bar
 * Apps
 * User controls/Utility links
 */


/*------------------------------------*\
    $Header
\*------------------------------------*/
#header {
  @include clearfix;
  position: relative;
  background: $blue-medium;
  color: #FFF;
  padding-right: 200px;

  @include media($menu-switch) {
    padding-right: 0;
  }

  @include media($small) {
    height: 70px;
  }

  a {
    color: #FFF;
  }
}

/*------------------------------------*\
    $Logo
\*------------------------------------*/
#logo {
  position: relative;
  overflow: hidden;
  float: left;
  line-height: 0px;
  margin-left: 20px;

  // Mobile styling
  @include media($small) {
    margin: 5px 0 5px 10px;
  }

  h1 {
    position: absolute;
    left: 9999px;
    top: 0px;
  }

  img {
    height: 100px;
    width: auto;

    // Mobile styling
    @include media($small) {
      height: 50px;
    }
  }

  a#logo {
    display: block;
    height: 100px;

    // Mobile styling
    @include media($small) {
      height: 50px;
    }
  }
}

/*------------------------------------*\
    $Search bar
\*------------------------------------*/
#block-views-exp-search-page { //top-search
  float: right;
  position: relative;
  background: $blue-dark;
  margin: 35px 20px 0px 0px;
  padding: 0px 32px 0px 10px;
  height: 32px;
  width: 185px;

  // Mobile styling
  @include media($menu-switch) {
    display: none;
  }

  .sl_label {
    color: $blue-light;
    font-weight: 300;
    font-style: italic;
  }

  form {
    margin: 0;

    .form-type-select {
      position: absolute;
      left: 0px;
      top: 0px;

      option {
        background: #FFF;
        font-weight: 600;
        padding: 3px;
      }
    }

    .form-type-textfield {
      display: block;
      margin: 5px 0 0 0;

      input {
        color: #FFF;
        font-weight: 600;
        width: 145px;
      }
    }

    .form-submit {
      display: block;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 32px;
      height: 32px;
      color: $blue-dark;
      font-size: 0px;
      line-height: 0px;
      overflow: hidden;
      text-indent: 200px;
      background: url('../graphics/small-search-icon-sprite.png') no-repeat left top;
      cursor: pointer;

      &:hover {
        background-position: -32px top;
      }

      &#edit-submit:hover {
        background: url('../graphics/small-search-icon-sprite.png') no-repeat -32px top;
      }
    }
  }
}

/*------------------------------------*\
    $Apps
\*------------------------------------*/
#apps {
  float: right;

  // Mobile styling
  @include media($menu-switch) {
    display: none;
  }

  .menu-heading {
    display: none;
  }

  ul.menu {

    @include media($menu-switch) {
      display: none;
    }

    li.leaf {
      display: block;
      float: left;

      a {
        display: block;
        width: 100px;
        height: 100px;
        background: transparent url('../graphics/apps-sprite.png') no-repeat left top;
        color: $blue-medium;

        &:hover {
          background-position: -100px top;
        }

        &.active-trail {
          background-color: $blue-light;
          color: $blue-light;
          background-position: -200px top;
        }

        &#groups {
          background-position: left -100px;

          &:hover {
            background-position: -100px -100px;
          }

          &.active-trail {
            background-position: -200px -100px;
          }
        }

        &#forums {
          background-position: left -200px;

          &:hover {
            background-position: -100px -200px;
          }

          &.active-trail {
            background-position: -200px -200px;
          }
        }

        &#events {
          background-position: left -300px;

          &:hover {
            background-position: -100px -300px;
          }

          &.active-trail {
            background-position: -200px -300px;
          }
        }

        &#search {
          background-position: left -400px;

          &:hover {
            background-position: -100px -400px;
          }

          &.active-trail {
            background-position: -200px -400px;
          }
        }

        &#apps {
          background-position: left -800px;

          &:hover {
            background-position: -100px -800px;
          }

          &.active-trail {
            background-position: -200px -800px;
          }
        }
      }
    }
  }
}

/*------------------------------------*\
    $User controls/Utility links
\*------------------------------------*/
#user-controls {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 200px;
  height: 100px;
  padding: 32px 0 0 60px;
  background: $blue-dark url('../graphics/user-controls-bg.png') no-repeat left bottom;
  font-weight: 600;

  // Mobile styling
  @include media($menu-switch) {
    display: none;
  }

  ul.access-utility-links {

    li.name {
      @include copy(interface_large);
    }

    li.logout,
    li.settings {
      @include copy(interface_small);
      float: left;
      margin-right: 10px;

      a {
        color: $red;
      }
    }
  }
}
