/*
* User login page
*/

.not-logged-in {
	h1#page-title {
		line-height: 1.2;
		text-align: center;
		margin-top: 50px;

	  @include media($fit) {
	    margin-top: 0;
	  }
	}

	.nav-button-wrapper {
		@include media($small) {
	    display: none;
	  }
	}
}

#user-login-form {
	background: #fff;
	width: 400px;
	margin: 0 auto;


  @include media($small) {
    width: auto;
    margin: 40px 10px;
    padding: 20px;
  }

	.form-item {
		padding: 20px 20px 0 20px;
		@include forms;

	  @include media($small) {
	    padding: 20px 0 0;
	  }

	  &.form-item-name {
		  @include media($small) {
		    padding: 0;
		  }
	  }
	}

	#edit-submit {
		margin: 20px;
		width: auto;

		@include media($small) {
		  margin: 10px 0 0;
		  width: 100%;
		  padding: 10px 0;
		  box-sizing: border-box;
		}
	}

	.item-list {
		ul {
			margin: 10px 20px 0px;

			@include media($small) {
				margin: 10px 0;
			}

			li {
				a {
					color: #ccc;

					&:hover {
						color: #3d3d3d;
					}
				}
			}
		}
	}
}
