/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * Sidebar second navigation
 * Animation settings for body
 * Hamburger menu button
 */


/*------------------------------------*\
    $Sidebar second navigation
\*------------------------------------*/
#nav {
  position: absolute;
  top: 0;
  right: -$nav-width;
  width: $nav-width;
  background: $blue-dark;
  height: 100%;

  #block-views-exp-search-page {
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    left: 2px;
    width: 90%;

    @include media($small) {
      margin: 15px 20px 0px 0px;
    }
  }

  ul.menu {
    margin-top: 100px;

    @include media($small) {
      margin-top: 70px;
    }
  }

  ul.menu,
  #nav-utility-links {

    li {
      text-align: center;
      float: left;
      background: $blue-medium;

      &.logout {
        a {
          background-position: left -500px;

          &:hover {
            background-position: -100px -500px;
          }

          &.active-trail {
            background-position: -200px -500px;
          }
        }
      }

      &.settings {
        a {
          background-position: left -600px;

          &:hover {
            background-position: -100px -600px;
          }

          &.active-trail {
            background-position: -200px -600px;
          }
        }
      }

      &.name {
        a {
          background-position: left -700px;

          &:hover {
            background-position: -100px -700px;
          }

          &.active-trail {
            background-position: -200px -700px;
          }
        }
      }

      a {
        @include box-sizing(border-box);
        height: 100px;
        width: 100px;
        border-bottom: 2px solid $blue-dark;
        border-left: 2px solid $blue-dark;
        display: block;
        background: transparent url('../graphics/apps-sprite.png') no-repeat left top;
        text-indent: -9999px;
        color: $blue-medium;

        &:hover {
          background-position: -100px top;
        }

        &.active-trail {
          background-color: $blue-light;
          color: $blue-light;
          background-position: -200px top;
        }

        &#groups {
          background-position: left -100px;

          &:hover {
            background-position: -100px -100px;
          }

          &.active-trail {
            background-position: -200px -100px;
          }
        }

        &#apps {
          background-position: left -800px;

          &:hover {
            background-position: -100px -800px;
          }

          &.active-trail {
            background-position: -200px -800px;
          }
        }
      }
    }
  }
}

/*------------------------------------*\
    $Animation settings for body
\*------------------------------------*/
body {
  @include media($menu-switch) {
    @include transform(translateX(0));
    @include animate(0.3s);
  }
}

body.open {
  @include media($menu-switch) {
    @include transform(translateX(-$nav-width));
    @include animate(0.3s);
  }
}

/*------------------------------------*\
    $Hamburger menu button
\*------------------------------------*/
.nav-button-wrapper {
  height: 100px;
  width: 100px;
  right: 0;
  position: absolute;
  z-index: 999;
  background: $blue-light;
  @include animate();

  &:hover {
    cursor: pointer;
  }

  @include media($small) {
    height: 70px;
    width: 70px;
  }
}

body.open .nav-button-wrapper,
.nav-button-wrapper:hover {
  background: $blue-dark;
  @include animate();
}

.nav-button span {
  position: absolute;
  z-index: 999;
  top: 50%;
  right: 35px;
  display: block;
  width: 30px;
  height: 4px;
  margin-top: -2px;
  background-color: #fff;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;

  @include media($small) {
    right: 18px;
  }
}

.open .nav-button span {
  background-color: transparent;
}

.nav-button span:before,
.nav-button span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.nav-button span:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
}

.nav-button span:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%);
}

.open .nav-button span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.open .nav-button span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

