/* General node form layouts */
.node-form {
  @include span-columns(10 of 12);
  @include shift(1);
  margin-bottom: 60px;

  .ds-2col {
    background: white;
    margin-bottom: 15px;
    
    .group-left {
      @include span-columns(7 of 10);
      @include pad(30px 0 15px 30px);
    }

    .group-right {
      @include span-columns(3 of 10);
      @include pad(30px 30px 15px 0);
    }
  }
}

/* Add or Edit node */
.page-node-add,
.page-node-edit {

	h1#page-title {
		@include span-columns(10 of 12);
  	@include shift(1);
	}

	.node-form {

		label {
			display: block;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 3px;
		}

		.messages {
			padding: 15px;
			margin-bottom: 15px;

			&.error {
				background: tint(red,95%);
				color: shade(red,50%);
			}

			&.status {
				background: tint($blue-light,95%);
				color: shade($blue-light,50%);
			}
		}

		.form-type-textfield { /* This is how text fields will be styled */
			margin-bottom: 15px;
			max-width: 400px;

			.description {
				color: $form-border;
				font-size: 12px;
				font-style: italic;
			}

			.form-text {
				width: 100%;
		    border: 1px solid $interface-border;
		    box-shadow: 0 1px 2px rgba(0,0,0,0.05) inset;
		    background-color: $interface-lighter;
		    padding: 2px;

		    &.form-autocomplete {
		    	background-position: 98% 7px;

		    	&.throbbing {
		    		background-position: 98% -13px;
		    	}
		    }
			}
		}

		.form-type-select { /* This is how select lists will be styled */
			margin-bottom: 15px;

			.description {
				color: $form-border;
				font-size: 12px;
				font-style: italic;
			}

			.selector {
				margin-left: -3px;
			}

			select {

				option {
					font-size: 10px;
					font-family: Arial, sans-serif;
					padding: 4px 0 4px 3px;
				}
			}
		}

		.form-type-managed-file { /* This is how file fields will be styled */
			margin-bottom: 15px;

			.description {
				color: $form-border;
				font-size: 12px;
				font-style: italic;
			}

			.image-widget,
			.file-widget {
				width: 100%;
		    border: 1px solid $interface-border;
		    background-color: $interface-lighter;
		    padding: 15px;

		    div.image-widget-data {
		    	float: none;
		    }

		    div.image-preview {
		    	padding: 0 10px 0 0;
		    	line-height: 0px;
		    }

		    .form-type-textfield {
					margin: 5px 0 0 22px;
					position: relative;
					
					label {
						font-size: 12px;
						position: absolute;
						top: 3px;
						left: 6px;
						font-weight: 400;
						padding-right: 5px;
						border-right: 1px dotted $interface-border;
						color: $form-border;
					}

					.form-text {
						font-size: 12px;
						padding: 2px 2px 2px 85px;
					}
				}

		    .form-submit {
		    	display: inline-block;
		    	float: right;
					background: $blue-light;
					margin: -4px 0 -4px 5px;
					color: white;
					font-weight: 600;
					padding: 3px 10px;
					cursor: pointer;
					@include transition (background 0.2s ease-in);

					&:hover {
						background: shade($blue-light,40%);
					}
		    }
			}
		}

		.text-format-wrapper { /* This is how WYSIWYG editors and textareas will be styled */
			margin-bottom: 15px;

			.text-summary-wrapper {
				margin-bottom: 15px;

				.form-type-textarea {

					.form-textarea {
						width: 100%;
						height: 140px;
					}

					.cke_chrome {

						.cke_inner {

							.cke_contents {
								height: 100px !important;
							}
						}
					}
				}
			}

			.form-type-textarea {
				margin-bottom: 5px;

				.description {
					color: $form-border;
					font-size: 12px;
					font-style: italic;
				}

				.form-textarea {
					width: 100%;
					height: 280px;
			    border: 1px solid $interface-border;
			    box-shadow: 0 1px 2px rgba(0,0,0,0.05) inset;
			    background-color: $interface-lighter;
			    padding: 2px;
				}
			}

			.filter-wrapper {

				p {
					float: right;
				}

				.form-item {
					float: none;
					padding: 0;
					margin-bottom: 10px;
				}

				.filter-guidelines-item {
					background: shade($interface-light,5%);
					padding: 10px;
					margin-bottom: 2px;
					font-size: 12px;

					h3 {
						font-size: 1.2em;
					}
				}
			}
		}

		fieldset { /* General fieldset styling */
			border: 1px solid $interface-border;
			padding: 15px 15px 0;
			margin-bottom: 15px;
			position: relative;

			legend {
				background: white;
				padding: 0 5px;
				color: $form-border;
			}

			.tabledrag-toggle-weight-wrapper {
				position: absolute;
				top: 0px;
				right: 15px;
				font-size: 12px;
				background: white;
				padding: 0 5px;
			}

			.tabledrag-changed-warning {
				font-size: 12px;
    		margin-bottom: 10px;
    		color: red;
			}

			table {
				width: 100%;
				margin-bottom: 15px;

				thead {
					border-bottom: 1px solid $interface-border;

					tr {

						th {
							text-align: left;
							color: #B6B6B6;
					    font-size: 11px;
					    text-transform: uppercase;
						}
					}
				}

				tbody {

					tr {
						border-bottom: 1px solid $interface-border;

						td {
							padding: 10px 0;

							a.tabledrag-handle {
								height: auto;
								margin-right: 5px;
								margin-left: 0px;

								.handle {
									padding: 0;
									width: 16px;
									height: 16px;
									margin: 2px 0 0 0;
									background-position: 2px 2px;
								}

								&.tabledrag-handle-hover {

									.handle {
										background-position: 2px -18px;
									}
								}
							}

							span.tabledrag-changed {
								display: none;
							}

							.form-submit {
								cursor: pointer;
								font-size: 11px;
								text-transform: uppercase;
								font-weight: 600;
								color: white;
								padding: 0 5px;
								background: shade(red,20%);
							}

							.image-widget {

						    div.image-widget-data {
						    	float: none;
						    }

						    div.image-preview {
						    	padding: 0 10px 0 0;
						    	line-height: 0px;
						    }
							}

							.file-widget {

								.form-type-textfield {
									margin: 5px 0 0 22px;
									position: relative;
									
									label {
										font-size: 12px;
										position: absolute;
										top: 3px;
										left: 6px;
										font-weight: 400;
										padding-right: 5px;
										border-right: 1px dotted $interface-border;
										color: $form-border;
									}

									.form-text {
										font-size: 12px;
										padding: 2px 2px 2px 85px;
									}
								}
							}
						}

						&.draggable {

							&.drag-previous {
								background: tint(red,97%);
							}

							&.drag {
								background: $interface-lighter;
							}
						}
					}
				}
			}
		}

		div.vertical-tabs {
			border: 0px none;
			margin: 0 0 15px 0;
			padding: 15px;
			background: white;

			ul.vertical-tabs-list {
				margin: 0;
				border-top: 0px none;

				li {
					border: 0px none;

					a {
						padding: 15px 0 15px 15px;
						font-size: 12px;
					}
					
					&.selected {

						a {
							background: $interface-light;

							strong {
								font-weight: 600;
								text-transform: uppercase;
							}
						}
					}
				}
			}

			.vertical-tabs-panes {

				fieldset {
					background: $interface-light;
					border: 0px none;
					padding: 15px;

					.description {
						color: $form-border;
						font-size: 12px;
						font-style: italic;
					}

					.form-textarea {
						width: 100%;
						height: 80px;
				    border: 1px solid $interface-border;
				    box-shadow: 0 1px 2px rgba(0,0,0,0.05) inset;
				    background-color: $interface-lighter;
				    padding: 2px;
					}
				}
			}
		}
	}

	.preview { /* Preview node */
		@include span-columns(10 of 12);
  	@include shift(1);
  	margin-bottom: 15px;
  	padding: 30px;
  	border: 1px dashed $blue-light;
  	background: white;

  	> h3 {
  		border-top: 1px solid $interface-border;
  		border-bottom: 1px solid $interface-border;
  		text-align: center;
  		text-transform: uppercase;
  		font-size: 14px;
  		margin: 0;
  		clear: both;
  	}

  	.node {
  		@include span-columns(8 of 10);
  		@include shift(1);
  		@include clearfix;
  		margin-top: 30px;
  		margin-bottom: 30px;
  	}
	}
}