#access-follow-ui-notification-settings-form {
  background: #fff;
  padding: 20px;
  width: 80%;

  @include media($medium) {
    width: 100%;
  }

  label {
    font-size: 14px;
    font-weight: 600;
  }

  input[type='submit'], input[type='checkbox'] {
    margin: 20px 10px 20px 0;
  }
}

#quicktabs-access_follow_ui {
  padding: 0px;
  margin-top: 15px;

  table {
    width: 100%;

    th {
      text-align: left;
      color: $blue-tornado;
      font-weight: 600;
      padding: 10px;
      background: $interface-light;
      border-bottom: 1px solid $interface-border;
    }

    td.views-field-ops {
      text-align: right;
    }
  }

  .item-list {
    background: $blue-dark;
    padding: 0px;
    margin: 0px;
    padding: 0px;

    ul.quicktabs-tabs {
      padding: 5px;
      margin: 0px;
      height: 60px;
      top: 0px;

      li {
        height: 65px;
        margin-top: 0px;

        &.active {

          a {
            background: $interface-light;
            color: $blue-dark;
          }
        }

        a {
          background: $blue-dark;
          border: 0px;
          height: 55px;
          line-height: 54px;
          font-size: 16px;
          padding: 0 15px;

          &:hover {
            text-decoration: underline;
          }

          span.user-follow-count {
            background: $blue-light;
            border: 0px;
            color: white;
            font-size: 12px;
            font-style: normal;
          }
        }
      }
    }
  }

  #quicktabs-container-access_follow_ui {

    .quicktabs-tabpage {
      background: $interface-light;
      border: 0px;
    }

    .group-item {
      border-bottom: 1px solid $interface-border;

      &:hover {
        border-top: 1px solid transparent;
      }

      .title {
        float: left;

        h3 {
          margin: 0px;
        }
      }

      .members {
        float: right;
        margin-top: 0px;
      }
    }
  }
}
