.quicktabs-wrapper {

  > .item-list {
  	background: $blue-light;
  	margin: 0 -30px;
  	padding: 4px 30px;

    // Tablet styling
    @include media($small) {
      margin: 0 -20px;
    }

    ul.quicktabs-tabs {
      margin: 0px;

      li {
      	margin: 0;

      	a {
      		display: inline-block;
      		border-radius: 0;
      		background: $blue-light;
      		color: white;
      		height: 30px;
      		line-height: 30px;
      		padding: 0 10px 0 30px;

      		&#quicktabs-tab-access_bw-access_all {
      			background-image: url("../graphics/quicktabs-sprite.png");
      			background-position: left top;
      			background-repeat: no-repeat;

      			&:before {
      				display: none;
      			}
      		}

      		&#quicktabs-tab-access_bw-access_posts {
      			background-image: url("../graphics/quicktabs-sprite.png");
      			background-position: left -30px;
      			background-repeat: no-repeat;

      			&:before {
      				display: none;
      			}
      		}

      		&#quicktabs-tab-access_bw-access_q_a {
      			background-image: url("../graphics/quicktabs-sprite.png");
      			background-position: left -60px;
      			background-repeat: no-repeat;

      			&:before {
      				display: none;
      			}
      		}

      		&#quicktabs-tab-access_bw-access_documents {
      			background-image: url("../graphics/quicktabs-sprite.png");
      			background-position: left -90px;
      			background-repeat: no-repeat;

      			&:before {
      				display: none;
      			}
      		}

      		&#quicktabs-tab-access_bw-access_wikis {
      			background-image: url("../graphics/quicktabs-sprite.png");
      			background-position: left -120px;
      			background-repeat: no-repeat;

      			&:before {
      				display: none;
      			}
      		}

      		&#quicktabs-tab-access_bw-access_polls {
      			background-image: url("../graphics/quicktabs-sprite.png");
      			background-position: left -150px;
      			background-repeat: no-repeat;

      			&:before {
      				display: none;
      			}
      		}

      		.access-bw-result-count {
      			font-size: 1em;
      			color: white;

      			&:before {
      				content: "(";
      			}

      			&:after {
      				content: ")";
      			}
      		}
      	}

      	&.active {

      		a {
      			background-color: $blue-dark;

      			&:after {
      				border: 0px none;
      			}
      		}
      	}
      }
    }
  }
}
