/*
* Remove padding/spacing on smaller devices
*/
.page-search {

  // Mobile styling
  @include media($small) {
    .barrier {
      padding: 0;

      #search-page {
        #search-result-wrapper {
          margin: 0 10px 1em;
          width: auto;
        }
      }
    }
  }
}

/* Filter reload styling */
#throbber,
#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#loading {
  z-index: 98;
  background: url('../graphics/trans_bg.png');
  display: none;

  &.active {
    display: block;
  }
}

#throbber{
  font-family: 'Titillium Web', Arial, Helvetica, "Nimbus Sans L", sans-serif;
  z-index: 99;
  text-align: center;
  color: #fff;
  top: 150px;
  font-size: 24px;
  font-weight: 200;
  display: none;

  &.active {
    display: block;
  }
}

#search-page {

  h1#page-title {
    @include span-columns(10 of 10);
  }

  #search-result-wrapper {
    @include span-columns(10 of 10);
    margin-bottom: 40px;

    .panel-col-top {
      @include span-columns(10 of 10);
      margin-bottom: 20px;

      .pane-views-exp-search-page {
        @include span-columns(7 of 10);
        min-height: 100px;
        background: $blue-tornado;
        border-left: 5px solid $blue-evening;
        margin-right: 0px;
        padding-right: 15px;
        @include box-sizing(content-box);

        .pane-content {
          @include media($fit) {
            padding: 20px;
          }
        }

        @include media($medium) {
          @include span-columns(10 of 10);
          @include box-sizing(border-box);
          padding-right: 0;
        }

          .form-item {
            display: inline-block;
            width: 800px;
            max-width: 80%;
            height: 50px;
            background: white;
            margin:25px 0px 0px 25px;

            @include media($fit) {
              width: 100%;
              margin: 0;
              max-width: none;
            }

            &:before {
              content: '';
              display: inline-block;
              width: 32px;
              height: 32px;
              background: url('../graphics/apps-sprite.png') no-repeat -34px -434px;
              float: left;
              margin: 10px 0px 0px 10px
            }

            input[type='text'] {
              background: transparent;
              width: 90%;
              height: 50px;
              padding: 10px;
            }
          }

        input[type='submit'] {
          display: inline-block;
          background: $green;
          width: 120px;
          height: 50px;
          padding: 10px;
          color: white;
          cursor: pointer;
          font-weight: 600;
          @include transition (background 0.2s ease-in);

          @include media($fit) {
            margin: 20px 0;
            float: right;
          }

          @include media($small) {
            margin: 0;
            float: none;
            width: 100%;
          }

          &:hover {
            background: $green-dark;
          }
        }
      }

      .pane-block-4 {
        @include span-columns(3 of 10);
        min-height: 100px;
        background: $blue-evening;
        color: #eef2f4;
        padding: 20px;
        margin-left: 0px;

        @include media($medium) {
          @include span-columns(10 of 10);
        }
      }
    }

    .panel-col-first {
      @include span-columns(7 of 10);
      margin-right: 20px;

      @include media($medium) {
        @include span-columns(10 of 10);
      }

      .inside {
        margin: 0px;
        position: relative;

        .search-results-listing {
          background: white;
          @include pad(20px);

          .search-result-count {
            font-size: 18px;
            background: #f1f1f1;
            margin: -20px -20px 10px -20px;
            padding: 15px;
            border-left: 5px solid $interface-border;
            font-weight: 300;
            line-height: 1.6;

            span {
              font-weight: 600;
            }
          }

          .view-mode-search_result {
            border-bottom: 1px solid $interface-border;
            margin-bottom: 15px;

            h2 {
              display: inline-block;
              font-size: 18px;
            }

            .content_type {
              display: inline;
              text-transform: uppercase;
              color: $interface-grey;
              font-size: 13px;
              font-weight: 600;
              margin-left: 10px;
            }

            .header {
              text-align: justify;

              &:after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 0;
                font-size: 0;
                line-height: 0;
                float: left;
                clear: both;
              }

              .title, .field-name-title {
                display: inline-block;
              }

              .field-name-field-topics {
                display: inline-block;

                .field-items {

                  &:before {
                    content: '';
                    float: left;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url('../graphics/content_icons.png') no-repeat -13px -212px;
                    margin: 1px 3px 0px 0px;
                  }

                  .field-item {
                    display: inline-block;

                    a {
                      color: $interface-grey;
                      font-weight: bold;
                    }
                  }
                }
              }
            }

            .footer {
              text-align: justify;
              margin-top: 10px;

              &:after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 0;
                font-size: 0;
                line-height: 0;
              }

              .posted {
                display: inline-block;
                font-size: 13px;
                vertical-align: bottom;

                &:before {
                  content: '';
                  display: inline-block;
                  background: url('../graphics/user-icon-sprite.png') no-repeat -5px -5px;
                  width: 15px;
                  height: 14px;
                  float: left;
                  margin: 2px 3px 0px 0px;
                }

                .field-name-author {
                  display: inline-block;
                  text-transform: uppercase;
                  font-weight: 600;
                  color: $dark;
                }

                .field-name-post-date {
                  display: inline-block;
                  text-transform: uppercase;
                  font-weight: 600;
                  color: $interface-grey;

                  .field-label, .field-items {
                    display: inline-block;
                  }
                }
              }

              .groups, .field-name-og-group-ref {
                display: inline-block;
                vertical-align: baseline;
                background: #ebebee;
                padding: 5px 10px 5px 10px;
                border-radius: 30px;

                &:before {
                  content: '';
                  float: left;
                  display: inline-block;
                  width: 16px;
                  height: 16px;
                  background: url('../graphics/groups-small-icon-iso.png') no-repeat;
                  margin: 1px 3px 0px 0px;
                }

                .field-items {
                  display: inline-block;
                }

                .field-item, .group {
                  display: inline-block;

                  a {
                    font-weight: bold;
                    color: $interface-grey;
                  }
                }
              }
            }
          }
        }
      }
    }

    .panel-col-last {
      @include span-columns(3 of 10);
      background: #fff;

      @include media($medium) {
        @include span-columns(10 of 10);
        margin-top: 2em;
      }

      > h2.pane-title {
        display: block;
        font-size: 20px;
        font-weight: 200;
        height: 50px;
        line-height: 50px;
        background: $blue-tornado;
        border-left: 5px solid $blue-evening;
        color: #FFF;
        padding: 0 15px;
        margin: 0;

        // Mobile styling
        @include media($small) {
          font-size: 16px;
          padding: 0 10px;
        }
      }

      .inside {
        position: relative;
        margin: 0;
        padding: 20px;
      }

      .panel-pane {

        h2 {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          color: $dark;
          border-bottom: 1px solid $interface-border;
          line-height: 1.3;
          padding-bottom: 10px;
          margin-bottom: 10px;
        }

        ul.facetapi-facetapi-checkbox-links {
          padding-bottom: 5px;
          margin-bottom: 5px;
          border-bottom: 1px solid $interface-border;

          li {
            margin-bottom: 4px;

            a {
              font-weight: normal;

              &.facetapi-inactive {
                color: $dark;
              }

              &.facetapi-active {
                color: white;
                display: inline !important;
                text-indent: -9999px;
                margin-right: -16px;

                &:before {
                  background: $green;
                  border: 1px solid #6d8506;
                }
              }

              &:before {
                display: inline-block;
                content: '';
                width: 12px;
                height: 12px;
                background: $interface-border;
                border-radius: 2px;
                border: 1px solid #aaa;
                box-shadow: #bbb 0px 1px 4px inset;
                z-index: 1;
                margin: 1px 5px 0px 0px;
              }
            }

            label {
              display: block;
              width: 100%;
              height: 20px;
              overflow: auto;
              background: transparent;
              clip: inherit;
              text-indent: -9999px;
              font-size: 1px;
              cursor: pointer;
              background: transparent;
              text-align: right;
              position: absolute;
              z-index: 2;
            }

            input[type='checkbox']:checked + a:before {
              background: $green;
              border: 1px solid #6d8506;
            }

            input[type='checkbox'] {
              display: none;
            }
          }
        }
      }
    }
  }
}
