/* Sass styling */
#block-menu-block-1 {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  background: $blue-evening;
  box-shadow: 0 0 3px #999;

  @include media($fit) {
    display: none;
  }

  .menu-name-menu-menu-taskbar {
    color: #fff;
    margin: 0;

    a,
    a:hover,
    a:active,
    a:visited {
      color: #fff;
    }

    > ul {

      > li {
        float: left;
        margin-left: 5px;
        position:relative;
        background: $blue-tornado;
        @include transition (background 0.1s ease-in);

        &:hover {
          background: $blue-dark;
        }

        // Links inside the menu
        a,
        .nolink {
          padding: 10px 20px;
          display: block;
          height: 40px;

          &.active,
          &:hover {
            cursor: pointer;
          }
        }

        // Menu items with children
        &.expanded {

          // Submenu styling
          ul {
            // Hide the child menu when not hovering
            @include transition (background 0.1s ease-in);
            display: none;
            opacity: 0;
            background: #fff;/* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
            background: rgba(255,255,255,0);/* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
            list-style: none;
            position: absolute;
            left: -9999px;/* Hide off-screen when not needed (this is more accessible than display:none;) */

            li {
              float:none;

              a {
                @include transition (background 0.1s ease-in);
                background: $blue-dark;
                white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
                border-bottom: 1px solid $blue-tornado;

                &:hover {
                  background: shade($blue-dark,10%);
                }
              }
            }
          }

          // Show the child menu when hovering
          &:hover {
            ul {
              display: block;
              opacity: 1;
              left: 0;/* Bring back on-screen when needed */
              bottom: 40px;
            }
          }
        }
      }
    }
  }
}

.menu-name-menu-menu-taskbar li.menu-mlid-2378 ul.menu {
  -moz-column-count: 2;
  -moz-column-gap: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  column-count: 2;
  column-gap: 0;
}

#block-menu-block-1 .menu-name-menu-menu-taskbar > ul > li.expanded ul li a {
  overflow: auto;
}
