.quicktabs-style-access-pills ul.quicktabs-tabs {
  margin: 0 0 30px 0;
  padding: 0;
}
.block-content .quicktabs-style-access-pills ul.quicktabs-tabs {
  padding: 0;
}
.quicktabs-style-access-pills ul.quicktabs-tabs li {
  display: inline-block;
  padding: 0;
  margin: 0 12px 0 0;
}
.quicktabs-style-access-pills ul.quicktabs-tabs li a {
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 10px 3px 6px;
  display: block;
  color: #a5a3a3;
}
.quicktabs-style-access-pills ul.quicktabs-tabs li a:hover {
  text-decoration: none;
}
.quicktabs-style-access-pills ul.quicktabs-tabs li a span {
  color: #3f3d3d;
  font-size: .7em;
}
.quicktabs-style-access-pills ul.quicktabs-tabs li.active a {
  background-color: #00568c;
  color: #fff;
  position: relative;
}
.quicktabs-style-access-pills ul.quicktabs-tabs li.active a:after {
  content: '';
  width: 0px;
  height: 0px;
  display: block;
  border-style: solid;
  border-width: 5px 7.5px 0 7.5px;
  border-color: #00568c transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -7.5px;
}
.quicktabs-style-access-pills ul.quicktabs-tabs li.active a span {
  color: #fff;
}

#quicktabs-tab-access_bw-access_all:before {
  content: '';
  background: url('images/icons-s2238b17da1.png') 0 -99px no-repeat;
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: 1px;
}
ul.quicktabs-style-access-pills li.active #quicktabs-tab-access_bw-access_all:before {
  background-position: 0 -163px;
}

#quicktabs-tab-access_bw-access_posts:before {
  content: '';
  background: url('images/icons-s2238b17da1.png') 0 -322px no-repeat;
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: 1px;
}
ul.quicktabs-style-access-pills li.active #quicktabs-tab-access_bw-access_posts:before {
  background-position: 0 -353px;
}

#quicktabs-tab-access_bw-access_documents:before {
  content: '';
  background: url('images/icons-s2238b17da1.png') 0 -384px no-repeat;
  width: 9px;
  height: 12px;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: 1px;
}
ul.quicktabs-style-access-pills li.active #quicktabs-tab-access_bw-access_documents:before {
  background-position: 0 -416px;
}

#quicktabs-tab-access_bw-access_q_a:before {
  content: '';
  background: url('images/icons-s2238b17da1.png') 0 -66px no-repeat;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: 1px;
}
ul.quicktabs-style-access-pills li.active #quicktabs-tab-access_bw-access_q_a:before {
  background-position: 0 -130px;
}

#quicktabs-tab-access_bw-access_ideas:before {
  content: '';
  background: url('images/icons-s2238b17da1.png') 0 -225px no-repeat;
  width: 8px;
  height: 13px;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: 1px;
}
ul.quicktabs-style-access-pills li.active #quicktabs-tab-access_bw-access_ideas:before {
  background-position: 0 -289px;
}

#quicktabs-tab-access_bw-access_wikis:before {
  content: '';
  background: url('images/icons-s2238b17da1.png') 0 0 no-repeat;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: 1px;
}
ul.quicktabs-style-access-pills li.active #quicktabs-tab-access_bw-access_wikis:before {
  background-position: 0 -33px;
}

#quicktabs-tab-access_bw-access_polls:before {
  content: '';
  background: url('images/icons-s2238b17da1.png') 0 -194px no-repeat;
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: 1px;
}
ul.quicktabs-style-access-pills li.active #quicktabs-tab-access_bw-access_polls:before {
  background-position: 0 -258px;
}
