.quicktabs-style-access-tabs ul.quicktabs-tabs {
  margin: 0;
  padding: 0;
  position: relative;
  top: 1px;
}
.block-content .quicktabs-style-access-tabs ul.quicktabs-tabs {
  padding: 0;
}
.quicktabs-style-access-tabs ul.quicktabs-tabs li {
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 0;
}
.quicktabs-style-access-tabs ul.quicktabs-tabs li a {
  background-color: #dddddd;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  padding: 10px;
  display: block;
  font-size: 1.1em;
  color: #2683b8;
}
.quicktabs-style-access-tabs ul.quicktabs-tabs li a:hover {
  text-decoration: none;
}
.quicktabs-style-access-tabs ul.quicktabs-tabs li a span {
  background: #dddddd;
  font-size: 1.1em;
  line-height: 1.1em;
  color: #4d4d4d;
  font-style: italic;
  display: inline-block;
  padding: 2px 6px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-left: 2px;
}
.quicktabs-style-access-tabs ul.quicktabs-tabs li.active a {
  background-color: #f1f1f1;
  color: #333333;
  border-bottom-color: #f1f1f1;
}
.quicktabs-style-access-tabs .quicktabs-tabpage {
  border: 1px solid #dddddd;
  background-color: #f1f1f1;
  -webkit-border-radius: 0 3px 3px 3px;
  -moz-border-radius: 0 3px 3px 3px;
  -ms-border-radius: 0 3px 3px 3px;
  -o-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
  padding: 10px;
}
.quicktabs-style-access-tabs table {
  margin-top: 0;
  border: none;
}
.quicktabs-style-access-tabs td {
  padding: 10px 7px;
}
.quicktabs-style-access-tabs tbody tr {
  border-top: none;
}
.quicktabs-style-access-tabs tr {
  background: none;
}
.quicktabs-style-access-tabs tr.odd {
  background: none;
}
.quicktabs-style-access-tabs tr.even {
  background: #ececec;
}
.quicktabs-style-access-tabs tr.even, .quicktabs-style-access-tabs tr.odd {
  border-bottom: 1px dashed #dddddd;
}
.quicktabs-style-access-tabs tr.even.views-row-last, .quicktabs-style-access-tabs tr.odd.views-row-last {
  border-bottom: none;
}
.quicktabs-style-access-tabs tr.even td.active, .quicktabs-style-access-tabs tr.odd td.active {
  background: none;
}
