@mixin layouts {

	.panels-flexible-dashboard {

		.panels-flexible-dashboard-inside {
			@include outer-container;

			.top-row {
				@include row();

				.left {
					@include span-columns(9 of 12);
				}

				.right {
					@include span-columns(3 of 12);
				}
			}

			.bottom-row {
				@include row();

				.left {
					@include span-columns(6 of 12);
				}

				.right-first {
					@include span-columns(3 of 12);
				}

				.right-second {
					@include span-columns(3 of 12);
				}
			}
		}
	}

	.panels-flexible-sidebar {

		.panels-flexible-sidebar-inside {
			@include outer-container;

			.top-row {
				@include row();
			}

			.main-row {
				@include row();

				.left {
					@include span-columns(9 of 12);
				}

				.sidebar {
					@include span-columns(3 of 12);
				}
			}
		}
	}
}