/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
$large:   new-breakpoint(min-width 1081px);
$medium:  new-breakpoint(max-width 1080px);
$menu-switch: new-breakpoint(max-width 840px);
$fit:     new-breakpoint(max-width 800px);
$small:   new-breakpoint(max-width 445px);

/*------------------------------------*\
    $BOURBON & NEAT
\*------------------------------------*/
$grid-columns: 10;
// $column: golden-ratio(16px, 3);
$gutter: 1em;
$max-width: 1380px;

$visual-grid : false;
$visual-grid-color: #e0eef7;

// Width
$nav-width: 200px;

/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
// Font face
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  src: local('Titillium WebThin'), local('TitilliumWeb-Thin'), url(../fonts/TitilliumWeb-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(../fonts/TitilliumWeb-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: local('Titillium WebSemiBold'), local('TitilliumWeb-SemiBold'), url(../fonts/TitilliumWeb-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(../fonts/TitilliumWeb-Bold.ttf) format('truetype');
}

// Font sizes
$font-size: 14px;
$font-size-responsive: 12px;
$line-height: $font-size * 1.3;

$header-one: 48px;
$header-two: 30px;
$header-three: 20px;
$header-four: 16px;

$header-one-fit: 38px;
$header-one-small: 24px;
$header-two-fit: 22px;
$header-two-small: 18px;
$header-three-fit: 16px;
$header-three-small: 14px;
$header-four-fit: 14px;

$font-size-one: 16px;
$font-size-two: 14px;
$font-size-three: 12px;

/*------------------------------------*\
    $COLORS
\*------------------------------------*/
// Blue
$blue-light: #1ea5d7;
$blue-medium: #0094ca;
$blue-dark: #007daa;
$blue-evening: #004155;
$blue-tornado: #005d79;

//Gray
$interface-light: #f3f3f5;
$interface-lighter: #FBFBFB;
$interface-border: #e1e1e3;
$interface-blue: #d0d7db;
$interface-grey: #919194;
$form-border: #B6B6B6;
$shadow: #dddde0;
$dark: #282828;
$grey-medium: #4b4b4b;
$grey: #cccccc;

// Misc
$red: #ff7d00;
$sunset: #d75b00;
$green: #9bbe05;
$green-dark: #7da100;
$sand: #ede9e3;
$brown-reg: #966e14;
$brown-dark: #613f00;
$selected: $blue-medium;
