// Import Bourbon mixin lib
@import "../assets/bourbon/dist/bourbon";

// Neat should be imported after variable, reset and mixin declaration.
// Otherwise neat overrides our variables.
@import "../assets/neat/app/assets/stylesheets/neat";

@import "reset", "variables", "mixins", "layouts";

/*------------------------------------*\
    $GENERAL
\*------------------------------------*/

body {
  font-size: $font-size;
  line-height: $line-height;
  background: $sand;
  overflow-x: hidden;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::selection,
::-moz-selection {
  background: $selected;
  color: #fff;
}

#admin-menu {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background: none;
  background-color: #101010;

  @include media($fit) {
    display: none;
  }
}

html body.admin-menu {
  @include media($fit) {
    margin-top: 0 !important;
  }
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: 'Titillium Web', Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: $font-size;
  line-height: $line-height;

  // Mobile styling
  @include media($small) {
    font-size: $font-size-responsive;
  }
}

pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

h1 {
  font-size: $header-one;
  line-height: $header-one * 1.2;
  font-weight: 300;
  margin: 20px 0 30px;
  color: $blue-evening;

  // Mobile header variables
  @include media($fit) {
    font-size: $header-one-fit;
  }

  // Mobile header variables
  @include media($small) {
    font-size: $header-one-small;
    line-height: $header-one-small * 1.2;
  }
}

h2 {
  font-size: $header-two;
  line-height: $header-two * 1.2;
  font-weight: 300;
  margin-bottom: 0.5em;

  // Mobile header variables
  @include media($fit) {
    font-size: $header-two-fit;
  }
}

h3 {
  font-size: $header-three;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.5em;

  // Mobile header variables
  @include media($fit) {
    font-size: $header-three-fit;
  }
}

h4,
h5,
h6 {
  font-size: $header-four;
  font-weight: 600;
  margin-bottom: 0.3em;

  // Mobile header variables
  @include media($fit) {
    font-size: $header-four-fit;
  }
}

h1#page-title {

  // Medium styling
  @include media($fit) {
    font-size: 28px;
    text-align: center;
    margin: 10px;
  }

  // Mobile styling
  @include media($small) {
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: $blue-light;
    margin: 0;
    padding: 10px 0;
  }
}

a {
  color: $blue-dark;
  text-decoration: none;
}

.button {

  &.add {
    @include button(add);
  }

  &.small-add {
    @include button(small_add);
  }

  &.edit {
    @include button(edit);
  }
}

pre {
  font-size: $font-size + 1; // Monospace skrivs ut något mindre
}

#main-content {
  @include layouts;
  padding: 2em 0;
}

.body {

  p {
    margin: 0 0 1em 0;
    line-height: 1.6;
  }

  strong {
    font-weight: bold;
  }
}

.cke_top {

  a {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
}

.inner {
  @include outer_container;
}

#main-content form {
  @include forms;
}

.barrier {
  @include pad(0 20px);

  // Mobile styling
  @include media($small) {
    @include pad(0 10px);
  }
}

.limiter {
  @include outer_container;
}

#sub-header {
  background: $blue-light;
  padding: 0 20px;
  color: #FFF;
}

.actions {

  .pane-commons-groups-commons-groups-create-group,
  .pane-commons-events-commons-events-create-event-link {
    @include cleanpane;
  }
}

ul#facetapi-facet-apachesolrsolr-block-bundle,
ul#facetapi-facet-apachesolrsolr-block-created,
ul#facetapi-facet-apachesolrsolr-block-changed,
ul#facetapi-facet-apachesolrsolr-block-author,
ul#facetapi-facet-apachesolrsolr-block-dm-field-date,
ul#facetapi-facet-apachesolrsolr-block-sm-field-location,
ul#facetapi-facet-apachesolrsolr-block-sm-og-group-ref {
  @include facet_item;
}

.page-search,
.page-events {

  .sidebar {

    .pane-content {
      padding: 10px;
    }
  }
}

#comments {

  h2 {
    margin-bottom: 10px;
  }
}

.view-groups,
.view-commons-radioactivity-groups-most-active {
  padding: 11px 0;

  .group-item {
    @include clearfix;
    padding: 10px 15px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;

    &:hover {
      background: $interface-light;
      border-top: 1px solid $interface-border;
      border-bottom: 1px solid $interface-border;

      .members {
        background: $blue-dark url('../graphics/user-icon-sprite.png') no-repeat 3px -24px;
        color: #FFF;
      }
    }

    .title {
      float: left;

      h3 {
        font-size: $header-four;
        font-weight: 600;
        line-height: 24px;
      }
    }

    .members {
      float: right;
      display: block;
      height: 24px;
      line-height: 24px;
      padding: 0 10px 0 26px;
      font-weight: 600;
      color: $interface-grey;
      background: $interface-border url('../graphics/user-icon-sprite.png') no-repeat 3px top;
      border-radius: 24px;
    }

    &:hover {

    }
  }
}

.view-activity-group {

  .activity {
    padding: 10px 15px;
    border-bottom: 1px solid $interface-border;

    .date {
      color: $interface-grey;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .rendered_entity {

      a {
        font-weight: 600;
      }
    }
  }
}

.view-commons-contributors-group,
.view-commons-events-event-attendee-list,
.view-commons-events-organizers {
  padding: 15px;

  h3 {
    color: $interface-grey;
    font-size: $header-four;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  table {
    margin-bottom: 15px;
  }
}

.page-forum {

  .forum-topic-legend {
    padding: 15px;
  }
}

#search-form {
  @include clearfix;

  .form-item {
    padding: 0 !important;
    margin: 0 !important;
    border: 0px none !important;
    min-width: 50%;
    float: left;
  }

  .form-submit {
    margin: 33px 0 0 15px !important;
  }
}

.page-user-login {

  #header {

    #apps,
    #user-controls {
      display: none;
    }
  }

  #sub-header {
    @include outer_container;
    background: transparent;
    margin-top: 50px;

    h1 {
      @include span-columns(4 of 12);
      @include shift(4);
      text-align: center;
      color: $blue-light;
      font-size: $header-one * 2;
    }
  }

  #main-content {
    @include outer_container;

    #user-login {
      @include span-columns(4 of 12);
      @include shift(4);
      @include pad(15px);
      background: #FFF;

      .form-submit {
        margin: 0;
      }
    }
  }
}

//Message styles
#console {

  .messages {
    color: #fff;
    @include pad(10px);
    margin-top: 10px;
    font-size: 16px;

    &.error {
      background: #ec2d2d;
    }

    &.notice {
      background: #ece52d;
      color: #88841f;
    }

    &.warning {
      background: #ff7d00;
    }

    &.status {
      background: #9cbe05;
    }

    li {
      padding: 5px;
    }
  }
}

table {
  width: 100%;

  th {
    font-weight: 600;
    text-align: left;
    color: $blue-evening;
    font-size: 16px;
  }

  td, th {
    padding: 10px;
    border-bottom: 1px solid $interface-border;
  }

  tr:hover {
    background: $interface-light;
  }
}

.page-group-node-admin-people-add-user #sub-header {
  background: none;
}

#og-ui-add-users {
  max-width: 420px;
  width: 100%;
  background: #fff;
  padding: 20px;
  margin: 0 auto;

  label {
    font-weight: 600;
  }

  input[type=checkbox] {
    float: left;
    width: auto;
    margin: 5px;
  }

  .form-type-select,
  .form-type-checkboxes {
    clear: both;
    overflow: hidden;
    margin: 5px 0;
  }

  #og-ui-field-name {
    margin-bottom: 10px;
  }

  textarea,
  input {
    background: #f2f2f2;
    clear: both;
    display: block;
    width: 100%;
  }
}

@import "content/groups", "content/events", "content/news", "content/articles", "content/wikis", "content/user", "content/generic-content", "content/migration-notice";
@import "modules/header", "modules/quicktabs", "modules/exposed-forms", "content/posts", "modules/comments", "modules/forms", "modules/dashboard", "modules/login", "modules/node_handling", "modules/calendar", "content/documents", "modules/employee-actions", "modules/taskbar", "modules/search", "modules/notification-settings", "modules/nav", "modules/app", "modules/ess-way";
