.epp_nbr_field {
	text-align: right;
}
caption {
	font-size: 1.50em;
	color: #004155;
}
.epp_red {
	background-color: #c11;
 	color: #fff;
}
h1#page-title {
	color: #004155;
	margin: 40px 0px;
}

h2#pager {
	color: #004155;
	text-align: center;
}
#epp input[type="button"] {
	padding: 5px 20px !important;
	box-shadow: 1px 1px 1px #abe0a2 inset, 0 3px 3px rgba(0, 0, 0, 0.09);
	padding: 0 10px;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6ECA5D', endColorstr='#FF45BB2F');
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6eca5d), color-stop(12%, #6cc95b), color-stop(33%, #47bc33), color-stop(100%, #45bb2f));
	background-image: -webkit-linear-gradient(top, #6eca5d 0%, #6cc95b 12%, #47bc33 33%, #45bb2f 100%);
	background-image: -moz-linear-gradient(top, #6eca5d 0%, #6cc95b 12%, #47bc33 33%, #45bb2f 100%);
	background-image: -o-linear-gradient(top, #6eca5d 0%, #6cc95b 12%, #47bc33 33%, #45bb2f 100%);
	background-image: linear-gradient(top, #6eca5d 0%, #6cc95b 12%, #47bc33 33%, #45bb2f 100%);
	border: 1px solid #249125;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	display: inline-block;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.49) !important;
	margin: 0 15px 0 0;
	color: #fff;
}

#epp input[type="button"].button-right {
	margin-right: 0px;
	margin-left: 20px;
	float: right;
	bottom: -10px;
	display: inline;
	position: relative;
}

#epp h2, #epp caption {
	line-height: 20px;
	color: #2783b9;
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 0px !important;
	margin-top: 20px;
}

#epp h2.field-content, #epp h2.block-title {
        line-height: 20px;
        color: #2783b9;
        font-weight: normal;
	font-size: 2em;
}
#epp h2.block-title {
        font-size: 1.4em;
}

body.page-performance-portal div.panel-display {
	margin-left: 0px;
}
span.qtip-link {
	border-bottom: none;
}
div.qtip-default {
	background-color: #2783b9;
	border-color: #2783b9;
	color: #FFF;
	font-size: 14px;
	line-height: 16px;
}


body.page-performance-portal td.views-field-field-planner-vr-editable div.views-row-edit-static {
	display: none;
}

body.page-performance-portal td.views-field-field-planner-vr-editable label {
	display: none;
}

