.rate-widget-access_like {
  padding: 0 10px;
  background-color: #fefefe;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEFEFE', endColorstr='#FFE8E8E8');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(top, #fefefe 0%, #e8e8e8 100%);
  background-image: -moz-linear-gradient(top, #fefefe 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #fefefe 0%, #e8e8e8 100%);
  background-image: linear-gradient(top, #fefefe 0%, #e8e8e8 100%);
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #333333;
  text-align: center;
  display: inline-block;
}
.rate-widget-access_like:hover {
  text-decoration: none;
}

.rate-widget-access_like {
  position: relative;
  width: 62px;
  height: 20px;
  padding: 0;
}
.rate-widget-access_like .rate-access-like-btn {
  display: block;
  font-size: 0;
  width: 62px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.rate-widget-access_like .rate-access-like-btn:before {
  content: '';
  background: url("images/like.png") no-repeat;
  width: 10px;
  height: 14px;
  display: inline-block;
  margin-right: 3px;
  position: absolute;
  left: 17px;
  top: 3px;
}
.rate-widget-access_like .rate-access-like-count {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 1;
  background: #D9D9D9;
  border: 1px solid #b5b5b5;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  -webkit-border-radius: 0 3px 3px 0px;
  -moz-border-radius: 0 3px 3px 0px;
  -ms-border-radius: 0 3px 3px 0px;
  -o-border-radius: 0 3px 3px 0px;
  border-radius: 0 3px 3px 0px;
}
.rate-widget-access_like .rate-access-like-count:after, .rate-widget-access_like .rate-access-like-count:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.rate-widget-access_like .rate-access-like-count:after {
  border-color: rgba(217, 217, 217, 0);
  border-right-color: #D9D9D9;
  border-width: 4px;
  top: 50%;
  margin-top: -4px;
}
.rate-widget-access_like .rate-access-like-count:before {
  border-color: rgba(181, 181, 181, 0);
  border-right-color: #B5B5B5;
  border-width: 5px;
  top: 50%;
  margin-top: -5px;
}
