.node-relevant-articles {

	&.node-teaser.view-mode-teaser {
		background: $interface-light;
		border-left: 5px solid $interface-border;
		@include transition (background 0.2s ease-in);
		margin-bottom: 2px;
		padding: 10px 15px;

		&:hover {
      background: shade($interface-light,10%);
    }

    .date {
    	float: right;
    	margin-right: 10px;
			line-height: 24px;
    }

		.title {

			h2 {
				margin-bottom: 0;

				a {
					display: block;
					font-size: 18px;
					line-height: 24px;

          // Mobile styling
          @include media($small) {
            font-size: 14px;
          }
			  }
			}
		}
	}

	&.view-mode-small_teaser {

    .title {
      margin-bottom: 5px;

      h3 {
        margin: 0;
        line-height: 24px;
        font-size: 18px;
      }
    }

    .created {
      color: $interface-grey;
      font-weight: 300;
    }
  }
}

/* Full posts */
.node-type-relevant-articles {
  @include pagenode-layout;
  @include pagenode;
}
