.node-document {
	@include pagenode-layout;

	&.view-mode-full {

		.group-left {

	  	div.file {
	  		background: $interface-light url('../graphics/document_folder.png') no-repeat center top;
		    float: left;
		    margin: 0 20px 15px 0;
		    min-width: 220px;
		    padding: 150px 15px 30px;
		    text-align: center;

		    .label {
		    	text-transform: uppercase;
		    	font-weight: 600;
		    	border-bottom: 1px solid $interface-border;
		    	padding-bottom: 3px;
		    	margin-bottom: 5px;
		    }
	  	}

	  	.body {
	  		overflow: hidden;
	  	}
	  }
	}

	&.view-mode-teaser {
		overflow: hidden;

    h3 {
      line-height: 1.4em;
      margin-top: 0px;

	    .type {
	      font-size: 14px;
	      color: $interface-grey;
	      text-transform: capitalize;
	    }
  	}

    .summary {
      margin-bottom: 15px;
    }

    .publishing-info {
      color: $interface-grey;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      padding-left: 22px;
      background: url('../graphics/icon-sprite.png') no-repeat -10px -172px;

      a.author {
        color: $dark;
      }
    }
  }
}

.node-type-document {

  @include pagenode;
}