.node-event {

  &.view-mode-full {
    @include pagenode-layout;

    .group-left {
      width: 70%;
      padding: 0 15px 0 0;

      .pre-content {
        @include clearfix;
        background: $interface-light;
        margin-bottom: 10px;
        padding: 15px;

        .event-logo {
          float: left;
          border: 1px solid $interface-border;
          background: white;
          line-height: 0px;
          padding: 2px;
          margin: 0 15px 0 0;
        }

        .date {
          color: $interface-grey;
          font-size: 18px;
          line-height: 24px;
          padding: 15px 0;
          overflow: hidden;

          .date-display-start,
          .date-display-end {
            color: $dark;
            margin-right: 5px;
            font-weight: 600;
          }

          .date-display-end {
            margin-left: 5px;
          }
        }
      }

      .body {
        font-size: $font-size-one;
        line-height: $font-size-one * 1.4;
        padding: 15px 0 30px;
      }
    }
  }

	&.view-mode-small_teaser {
		@include transition (background 0.2s ease-in);
  	position: relative;
  	background: $interface-light;
  	color: $dark;
    padding: 12px 15px !important;

    &:hover {
      background: shade($interface-light,10%);
    }

    .date {
      float: left;
      line-height: 18px;
      color: $blue-dark;
      font-weight: 600;
    }

    .title {
      margin-left: 50px;

      h2 {
      	font-size: 14px;
      	line-height: 18px;
        font-weight: 600;
        margin-bottom: 0;

      	a {
      		color: $dark;
      	}
      }
    }
	}

  &.view-mode-teaser {
    overflow: hidden;

    h3 {
      line-height: 1.4em;
      margin-top: 0px;

      .type {
        font-size: 14px;
        color: $interface-grey;
        text-transform: capitalize;
      }
    }

    .field-name-field-date {
      background: url('../graphics/calendar.png') no-repeat 2px 2px;
      background-size: 14px;
      padding-left: 23px;
      font-family: 'Titillium Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
      font-weight: 600;
      color: $interface-grey;
    }

    .field-label {
      float: left;
      color: $dark;
    }

    .summary {
      margin-bottom: 15px;
    }

    .publishing-info {
      color: $interface-grey;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      padding-left: 22px;
      background: url('../graphics/icon-sprite.png') no-repeat -10px -172px;

      a.author {
        color: $dark;
      }
    }
  }
}

.node-type-event {
  @include pagenode;
}
