/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * Pager
 */

/*------------------------------------*\
    $PAGER
\*------------------------------------*/
ul.pager-load-more {
  display: block;
  background: $interface-light;
  padding: 15px;

  li {
    display: block;
    text-align: center;

    a {
      display: inline-block;
      font-weight: 600;
      text-transform: uppercase;
      color: $green;
      height: 24px;
      line-height: 24px;
      padding-left: 24px;
      background: url('../graphics/load-more-icon-sprite.png') no-repeat -4px top;

      &:hover {
        color: $green-dark;
        background: url('../graphics/load-more-icon-sprite.png') no-repeat -4px -24px;
      }
    }
  }
}
