.node-group {

  &.view-mode-full {

    .group-logo {
      float: right;
      margin: 0 0 30px 30px;
    }

    .body {
      overflow: hidden;
      margin-bottom: 2em;
    }
  }

  &.node-teaser {
    @include transition (background 0.2s ease-in);
  	margin-bottom: 2px;
  	position: relative;
  	background: $blue-medium;
  	color: white;
  	height: 160px;
    overflow: hidden;

  	&.master {
  		background: $blue-medium;
      height: 180px;

      &:hover {
        background: shade($blue-medium,40%);
      }

      .group-content {
        bottom: 30px;

        .title {

          h2 {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 0px;
          }
        }
      }
  	}

    &.global {
      background: $red;
      height: 220px;

      &:hover {
        background: shade($red,40%);
      }

      .group-content {
        bottom: 30px;

        .title {

          h2 {
            font-size: 20px;
          }
        }
      }
    }

  	&.minion {
  		background: $grey-medium;

      .group-content {

        .title {

          h2 {
            font-size: 20px;

            @include media($small) {
              font-size: 16px;
            }
          }
        }
      }

      &:hover {
        background: shade($grey-medium,40%);
      }
  	}

    &.private {
      background: $interface-grey;

      &:hover {
        background: shade($interface-grey,40%);
      }
    }

    .group-teaser-header {
      position: absolute;
      top: -44px;
      left: 0px;
      width: 100%;
      @include transition (top 0.2s ease-in);

      .flag-wrapper {
        position: absolute;
        left: 20px;
        top: 20px;
        display: block;

        a {
          display: block;
          padding-left: 20px;
          height: 20px;
          width: 20px;
          overflow: hidden;
          color: #FFF;
          font-weght: 600;
          font-size: 12px;

          &:hover {
            width: auto;
          }

          &.flag-action {
            background: url('../graphics/icon-sprite.png') no-repeat -10px -50px;

            &:hover {
              background: url('../graphics/icon-sprite.png') no-repeat -10px -90px;
            }
          }

          &.unflag-action {
            background: url('../graphics/icon-sprite.png') no-repeat -10px -90px;
          }
        }
      }

      .contributors-wrapper {
        @include transparent50black;
        position: absolute;
        right: 20px;
        top: 20px;
        border-radius: 24px;

        .contributors {
          display: block;
          height: 24px;
          line-height: 24px;
          padding: 0 10px 0 32px;
          background: url('../graphics/icon-sprite.png') no-repeat 0px -128px;
        }
      }
    }

  	.group-content {
      position: absolute;
      left: 0px;
      bottom: 20px;
      width: 100%;
      padding: 0 20px;
      overflow: hidden;

      .title {

        a {
          color: white;
        }
      }

      .description {
        @include transition (margin-bottom 0.2s ease-in);
        padding-top: 5px;

        h1, h2, h3 {
          display: none;
        }
      }
    }

    &:hover {

      .group-teaser-header {
        top: 0px;
      }

      .group-content {

        .description {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

.page-groups {

  .barrier {
    @include media($small) {
      padding: 0;
    }
  }

	#groups {

    h1#page-title {
      @include span-columns(7 of 10);

      @include media($fit) {
        @include span-columns(10 of 10);
      }
    }

    #create {
      @include span-columns(3 of 10);
      @include omega;
      margin: 30px 0;
      text-align: right;

      @include media($fit) {
        @include span-columns(10 of 10);
      }

      @include media($fit) {
        @include pad(0 10px);
      }
    }

		#group-collections {
      @include span-columns(10 of 10);
      margin-bottom: 40px;

			.group-collection {
				@include span-columns(2 of 10);

        // Tablet styling
        @include media($fit) {
          @include span-columns(5 of 10);
          @include omega(2n);
          margin-bottom: 40px;
        }

        // Tablet styling
        @include media($small) {
          @include span-columns(10 of 10);
          @include pad(0 10px);
        }
			}
		}
	}
}

.node-type-group {

  #content-wrapper {
    margin-bottom: 50px;

    // Tablet styling
      @include media($small) {
        position: relative;
      }

    h1#page-title {
      @include span-columns(7);

      // Tablet styling
      @include media($fit) {
        @include span-columns(7 of 10);
        text-align: left;
        font-size: $header-one-fit;
        margin-top: 20px;
      }

      // Mobile styling
      @include media($small) {
        padding: 20px;
        text-align: center;
        font-size: 22px;
        color: $blue-evening;
        margin-top: 0;
        background: none;
        text-align: left;
      }
    }

    #follow {
      @include span-columns(3);
      margin: 30px 0;
      text-align: right;

      // Tablet styling
      @include media($fit) {
        width: auto;
        float: right;
      }

      // Tablet styling
      @include media($small) {
        margin: 10px 0;
      }

      .flag-wrapper {
        display: block;
        overflow: hidden;

        a {
          @include button(follow);
          float: right;
        }

        .flag-throbber {
          display: inline-block;
          height: 40px;
          width: 40px;
          background-position: center center;

          // Tablet styling
          @include media($fit) {
            display: none;
          }
        }

        .flag-message {
          text-align: right;
          font-size: 1em;
          line-height: 1.2em;
          position: static;
          width: auto;
          margin-right: 20px;
        }
      }
    }

    .main-column {
      @include span-columns(5);
      @include pad(30px);
      background: white;

      // Mobile styling
      @include media($fit) {
        @include span-columns(12);
        @include pad(20px);
      }

      #node-action-links {
        float: right;
        margin: -30px 0 0 0;

        .button {
          float: left;
          margin-left: 5px;

          &.add {
            @include button(small_add);
          }
        }
      }

      .pane-page-breadcrumb {
        border-bottom: 1px solid $interface-border;
        padding-bottom: 20px;
        margin-bottom: 30px;
      }

      #quicktabs-container-access_bw {

        #all {

          .top-wrapper {

            > a.access-posts-create {
              @include button(small_add);
              margin: 20px 0;
            }
          }
        }

        .sub-list {

          .top-wrapper {

             > a {
              @include button(small_add);
              margin: 20px 0;
            }
          }
        }

        .access-bw-create-choose-holder {
          display: none;
          background: $interface-light;
          border-top: 1px solid $interface-border;
          border-bottom: 1px solid $interface-border;
          padding: 10px;
          margin: 0 0 20px;

          ul {

            li {
              border-bottom: 1px solid $interface-border;
              line-height: 32px;

              a {
                font-weight: 600;
                margin-right: 10px;
                display: inline-block;
                width: 30%;
              }

              &.last {
                border-bottom: 0px none;
              }
            }
          }
        }

        .list-content {
          margin-top: 10px;

          .node-teaser {
            border-bottom: 1px solid $interface-border;
            padding-bottom: 15px;
            margin-bottom: 15px;

            &:last-child {
              margin-bottom: 0px;
              border-bottom: 0px none;
              padding-bottom: 0px;
            }
          }
        }
      }
    }

    .group-sidebar-one {
      @include span-columns(3);

      // Tablet styling
      @include media($fit) {
        @include span-columns(12);
        margin-top: 2em;
      }

      #contributors,
      #followers {
        @include block-style;

        .user {
          border-bottom: 1px solid $interface-border;
          padding: 0 0 15px 0;
          margin-bottom: 15px;
          overflow: hidden;

          a {
            color: $dark;
          }

          &:last-child {
            border-bottom: 0px none;
            margin-bottom: 0px;
            padding: 0;
          }

          .user-picture {
            float: left;
            line-height: 0px;
          }

          .details {
            overflow: hidden;
            padding: 5px 0 0 15px;

            .user-name {
              margin-bottom: 5px;

              h3 {
                margin: 0;
              }
            }
          }
        }
      }
    }

    .group-sidebar-two {
      @include span-columns(2);
      margin-right: 0;

      // Tablet styling
      @include media($fit) {
        @include span-columns(12);
      }

      #head-groups {

        .view-mode-teaser {
          margin-bottom: 2em;

          // Tablet styling
          @include media($fit) {
            @include span-columns(6);
            @include omega(2n);
            margin-bottom: 1em;
          }
        }
      }
    }
  }
}
