.page-migration-notice {
  line-height: 22px;

  p {
    margin-bottom: 20px;
  }

  h2 {
    margin: 30px 0 20px;
  }

  .limiter {
    background: #fff;
    margin-bottom: 80px;
    margin-top: 60px;
    max-width: 860px;
    padding: 40px 60px;
  }

  table {
    max-width: 500px;
    width: 100%;

    tr:hover {
      background: transparent;
    }

    td {
      border: 0;
      padding: 0;
      white-space: nowrap;
    }
  }
}
