.node-news {

	&.view-mode-small_teaser {
		h3 {
			margin-top: 0;
		}
	}

	&.view-mode-teaser {
		height: 282px;
		background-color: $blue-light;
		position: relative;
		width: 100%;

		// Mobile styling
    @include media($small) {
      height: 200px;
    }

		.image {
			position: absolute;
			left: 0px;
			top: 0px;
			z-index: 1;
			width: 100%;
			height: 100%;
		}

		.filter {
			position: absolute;
			left: 0px;
			top: 0px;
			z-index: 2;
			width: 100%;
			height: 100%;
			background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIHWNgmHL6DAAEIwIsD+E3ZAAAAABJRU5ErkJggg==');
		}

		.teaser-content {
			position: absolute;
			left: 0px;
			bottom: 0px;
			z-index: 3;
			padding: 0 30px 30px;

			// Mobile styling
	    @include media($small) {
	      padding: 0 15px 15px;
	    }

			.post-date {
				color: white;
			}

			.title {

				h2 {
					margin-bottom: 0;

					// Mobile styling
			    @include media($small) {
			      font-size: 16px;
			      line-height: 1.6;
			      margin-top: 10px;
			    }

					a {
						color: white;
					}
				}
			}
		}
	}
}

/* Page node full: News */
.node-type-news {

	@include pagenode;
	@include pagenode-layout;
}
