.node-post {

  &.view-mode-full {
    @include pagenode-layout;
  }

  &.view-mode-teaser {
    overflow: hidden;

    .left-col {
      float: left;
      margin-right: 15px;

      // Mobile styling
      @include media($small) {
        float: none;
        margin-right: 0;
      }

      .image {

        img {

          // Mobile styling
          @include media($small) {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    &.has-tag .right-col h3 {
      padding-left: 30px;
    }

    &.has-tag.news .right-col h3 {
      background: url('../graphics/news-icon.png') no-repeat left 5px;
    }

    &.has-tag.market-item .right-col h3 {
      background: url('../graphics/market-icon.png') no-repeat left 5px;
    }

    &.has-tag.progress-in-place .right-col h3 {
      background: url('../graphics/progress-icon.png') no-repeat left 5px;
    }

    &.has-tag.alert .right-col h3 {
      background: url('../graphics/alert-icon.png') no-repeat left 5px;
    }

    &.has-tag.discussion .right-col h3 {
      background: url('../graphics/discussion-icon.png') no-repeat left 5px;
    }

    .right-col {
      overflow: hidden;

        h3 {
          line-height: 1.4em;
          margin-top: 0px;

        .type {
          font-size: 14px;
          color: $interface-grey;
          text-transform: capitalize;
        }
      }

      .summary {
        margin-bottom: 15px;
      }

      .publishing-info {
        color: $interface-grey;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        padding-left: 22px;
        background: url('../graphics/icon-sprite.png') no-repeat -10px -172px;

        a.author {
          color: $dark;
        }
      }

      .comment-count {
        @include comment();
      }
    }
  }

  &.view-mode-small_teaser {

    .title {
      margin-bottom: 5px;

      h3 {
        margin: 0;
        line-height: 24px;
        font-size: 18px;

        // Mobile styling
        @include media($small) {
          font-size: 14px;
        }
      }
    }

    .created {
      color: $interface-grey;
      font-weight: 300;
    }
  }
}

.node-type-post {

  @include pagenode;
}
