/*------------------------------------*\
  - Styling for both back- and front end
\*------------------------------------*/
.page-user {

	@include pagenode;

	.button.edit-done {
		position: absolute;
		right: 0;
		top: 0;
	}

  .flag-access-follow-user {
    display: block;
    overflow: hidden;
    float: right;
    margin-bottom: -40px;

    a {
      @include button(follow);
      float: right;
    }

    .flag-throbber {
      display: inline-block;
      height: 40px;
      width: 40px;
      background-position: center center;

      // Tablet styling
      @include media($fit) {
        display: none;
      }
    }

    .flag-message {
      text-align: right;
      font-size: 1em;
      line-height: 1.2em;
      position: static;
      width: auto;
      margin-right: 20px;
    }
  }

	#content-wrapper .main-column {
		padding: 0;
		margin-bottom: 60px;

		#node-action-links {
			margin: 0;
		}
	}

	/*------------------------------------*\
    - Left column
	\*------------------------------------*/
	.group-left {
		width: 30%;
		background: $interface-light;

		.user-picture {
			height: 330px;
			overflow: hidden;

			img {
				width: 100%;
				height: auto;
			}
		}

		.sidebar-info {
			padding: 20px;
		}
	}

	/*------------------------------------*\
    - Right column
	\*------------------------------------*/
	.group-right {
		width: 70%;
		padding: 20px;
	}

	/*------------------------------------*\
    - Front end user full
	\*------------------------------------*/

	.user-profile.view-mode-full {
		@include clearfix;

		// Top group
		.group-right-top {
			border-bottom: 1px solid $interface-border;
			padding-bottom: 15px;
			margin-bottom: 15px;
			color: $blue-tornado;
		}

		// User name
		h2.user-name {
			font-size: 52px;
			margin-bottom: 15px;
		}

		// User title
		h3.field-name-field-user-title {
			margin-top: 0;
			margin-bottom: 30px;
			font-size: 20px;
			font-weight: 100;
		}

		// Telephone number
		.mobile {
			color: $dark;
			font-weight: 600;
		}

		// User email
		a.user-mail {
			display: block;
			margin-bottom: 5px;
		}

		a.user-mail:hover {
			color: $blue-tornado;
		}

		// Bio
		.field-name-field-bio {
			width: 65%;
			float: left;
			padding-right: 20px;

			.field-label {
				font-size: 16px;
				font-weight: 600;
				margin-bottom: 10px;
			}

			p {
				margin-bottom: 10px;
			}
		}

		// Info group
		.group-info {
			width: 35%;
			padding: 20px;
			background: $interface-light;
			float: right;

			.field {
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid $interface-border;

				.field-label {
					font-weight: bold;
					margin-bottom: 5px;
				}

				&:last-child {
					border-bottom: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
		}

		// Activity feed
		.activity-feed{
			clear: both;
  		@include span-columns(6 of 6);
  		@include clearfix;
  		@include block-style;
  		@include pad(15px);
  		position: relative;
  		padding: 0;
  		margin-top: 30px;

  		h2 {
				display: block;
				font-size: 20px;
				font-weight: 200;
				height: 50px;
				line-height: 50px;
				background: $blue-tornado;
		    border-left: 5px solid $blue-evening;
				color: #FFF;
				padding: 0 15px;
		    margin: 0;
			}

  		.view {

  			#views-exposed-form-commons-homepage-content-block-1 {
    			position: absolute;
    			right: 0;
    			top: 10px;
    			margin: 0;
    			color: white;

    			label {
						font-size: 12px;
				    font-weight: 400;
				  }

				  label,
				  div {
				  	display: block;
				  	float: left;
				  	height: 30px;
				  	line-height: 30px;
				  	margin: 0;
				  }
    		}

    		.node-teaser {
    			padding: 20px;
  				border-bottom: 1px solid $interface-border;

  				h3 {
  					font-size: 16px;
  				}

    			&:last-child {
    				padding-bottom: 0px;
    				margin-bottom: 0px;
    				border-bottom: 0px none;
    			}
    		}
  		}
  	}

		/*------------------------------------*\
     - Sidebar
		\*------------------------------------*/
		.user-picture {
			overflow: hidden;

			a {
				line-height: 0;
				display: block;
			}
		}

		.sidebar-info {
			> h3 {
				margin-top: 0;
				margin-bottom: 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid $interface-border;
			}

			dl {
				margin-bottom: 20px;

				dt {
					font-weight: bold;
				}
			}

			.field {
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}

				.field-label {
					font-weight: bold;
					margin-bottom: 5px
				}
			}

			.field-name-og-user-node {

				.field-label {
					margin-bottom: 10px;
				}

				.field-item {
					a {
						padding: 10px 40px 10px 10px;
						margin-bottom: 10px;
						display: block;
						font-weight: bold;
						overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
						background:url('../graphics/groups-small-icon-iso.png') #e9e9e9 no-repeat 95% 10px;
						@include transition (background-color 0.2s ease-in);

						&:hover {
				      background-color: shade($interface-light,10%);
				    }
					}

					&:last-child {
						a {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	/*------------------------------------*\
   - Sidebar Right
	\*------------------------------------*/

	.user.user-full {
		// Social fields
		.node-sidebar-one {

			.panel-pane {
				@include block-style;

				.pane-content {
					padding: 20px;
				}
			}
		}
	}
}

form#user-login {
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	padding: 20px 40px;

	div {
		margin-bottom: 10px;
	}

	label {
		font-weight: bold;
	}

	.form-text {
		background: #eee;
		margin: 5px 0;
		padding: 5px;
		width: 100%;
	}
}


/*------------------------------------*\
  - Styling for user edit
\*------------------------------------*/
.ds-3col.ds-form {
	@include forms;
	padding-bottom: 60px;

	.main-wrapper {
		background: #fff;
		width: 70%;
		float: left;
		margin-right: 5%;
	}

	/*------------------------------------*\
    - The three main groups
	\*------------------------------------*/
	.group-left {
		float: left;
		width: 30%;
		@include clearfix;
	}

	.group-middle {
		padding: 20px;
		margin: 0;
		width: 70%;
		float: left;
		position: relative;
	}

	.group-right {
		width: 25%;
		background: #fff;

		.form-item {
			border-bottom: none;
		}
	}

	/*------------------------------------*\
    - Fields - Group left
	\*------------------------------------*/
	#edit-picture {
		padding: 0;

		.user-picture {
			a {
				line-height: 0;
				display: block;
			}
		}

		.form-item-files-picture-upload {
			padding: 20px;
			max-width: 290px;
			padding-right: 0;
			margin-right: 0;
		}

		legend {
			display: none;
		}
	}

	.form-item-picture-delete {
		padding: 20px;
		margin-bottom: 0;

		.form-checkbox {
			margin-right: 5px;
		}
	}

	#og-user-node1-add-more-wrapper {
		fieldset {
			padding: 20px;
			border-bottom: none;
			margin-bottom: 0;

			legend {
				span {
					padding: 0;
					color: $blue-dark;
				}
			}

			tr {
				margin-bottom: 10px;
			}
		}

		#og-user-node1-add-more-wrapper--2 {
			table {
				td {
					padding-bottom: 10px;
				}
			}

			.form-item {
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}

		.tabledrag-toggle-weight-wrapper {
			display: none;
		}

		.field-add-more-submit {
			background: $blue-medium;
			color: #fff;
			display: block;
			padding: 10px 15px;
			margin: 20px 0 0 0;
		}

		.form-item.form-type-checkbox {
			padding: 10px;
			background: #e9e9e9;
			margin-bottom: 5px;

			label {
				font-weight: 600;
				color: $blue-tornado;
			}

			.form-checkbox {
				margin-right: 5px;
			}
		}
	}

	.form-item-message-subscribe-email-und {
		padding: 20px;
		border-top: 1px solid $interface-border;

		label {
			font-weight: 600;
			color: $blue-tornado;
		}

		.form-checkbox {
			margin-right: 5px;
		}
	}

	/*------------------------------------*\
    - Fields - Group middle
	\*------------------------------------*/
	// Selector to reduce width of formfields to fit both on one row
	#field-name-first-add-more-wrapper,
	#field-name-last-add-more-wrapper,
	#field-user-title-add-more-wrapper,
	#field-user-mobile-add-more-wrapper,
	#field-user-manager-add-more-wrapper,
	#field-user-division-add-more-wrapper,
	.form-item-pass-pass1,
	.form-item-pass-pass2 {
		max-width: 308px;
		float: left;
		margin-right: 20px;
		overflow: hidden;
	}

	#field-name-last-add-more-wrapper,
	#field-user-title-add-more-wrapper,
	#field-user-manager-add-more-wrapper,
	.form-item-pass-pass2 {
		margin-right: 0;
	}

	/*------------------------------------*\
    - Field groups
	\*------------------------------------*/
	// General group selector
	.field-group-div,
	.field-group-fieldset {
		overflow: hidden;
		border-bottom: 1px solid $interface-border;
		margin-bottom: 20px;

		.form-item {
			border-bottom: none;
		}

		.form-type-password-confirm {
			border-bottom: 1px solid $interface-border;
			padding-bottom: 30px;
			margin-bottom: 20px;
		}
	}

	#field-bio-add-more-wrapper {
		.text-format-wrapper {
			padding-bottom: 0;
			border-bottom: none;
		}

		#edit-field-bio-und-0-format {
			display: none;
		}
	}

	#edit-ckeditor {
		@include clearfix;
		overflow: hidden;
		padding-bottom: 20px;
		margin-bottom: 20px;

		&.collapsed {
			height: 3em;
		}
	}

	/*------------------------------------*\
    - Fields that are password dependant
	\*------------------------------------*/
	.form-type-password {
		border-top: 1px solid $interface-border;
		padding-top: 20px;

		&.form-item-pass-pass2 {
			.password-confirm {
				visibility: visible !important;
				color: $blue-medium;

				span {
					float: right;
					text-transform:capitalize;

					&.error {
						color: #e50f0f;
					}

					&.ok {
						color: #37AC21;
					}
				}
			}

			.form-text.password-confirm {
				color: #000;
			}
		}

		.password-strength,
		.password-confirm {
			border-bottom: 1px solid $interface-border;
			padding-bottom: 10px;
			margin-bottom: 10px;

			.password-strength-text,
			.password-strength-title,
			.password-confirm {
				color: $blue-medium;
			}

			.password-strength-text {
				float: right;
			}
		}
	}

	.form-type-password-confirm {
		overflow: hidden;

		.description {
			clear: both;
		}

		.form-type-password {
			overflow: hidden;
			margin-bottom: 5px;

			&.form-item-pass-pass1 {
				margin-right: 20px;
			}
		}
	}

	// Common styling for both buttons
	#edit-submit,
	#edit-cancel {
		margin: 0 0 0 10px;
	}

	#edit-submit {
		float: right;
	}

	#edit-cancel {
		float: right;
		background: $interface-light;
		display: inline-block;
		font-weight: bold;
		padding: 5px 15px;
		color: #B16262;
		@include transition (background 0.2s ease-in);

		&:hover {
			background: #AA5F5F;
			color: #fff;
			cursor: pointer;
		}
	}

	// Checkbox and radio fields
	.form-item-status,
	.form-item-roles {
		width: 285px;
		float: left;

		.form-type-radio,
		.form-type-checkbox {
			clear: both;
			margin-bottom: 10px;

			input {
				margin-right: 5px;
			}
		}
	}

	#edit-timezone {
		border-top: 1px solid $interface-border;
	}

	/*------------------------------------*\
    - Group Right
	\*------------------------------------*/
	.group-right {
		padding: 0;

		.field-group-div {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 10px;

			> h3 {
				background: $blue-tornado;
				color: #fff;
				margin-top: 0;
				padding: 20px;
				margin-bottom: 20px;
				font-weight: 100;
			}

			.form-item {
				margin-bottom: 0;
			}
		}
	}

	#field-facebook-url-add-more-wrapper,
	#field-linkedin-url-add-more-wrapper,
	#field-twitter-url-add-more-wrapper {
		padding: 0 20px;
	}

}



