.node-wiki {
  @include pagenode-layout;

  &.view-mode-full {

    .toc {
      border: 0px none;
      background: $interface-light;
      padding-bottom: 15px;

      .toc-title {
        height: 40px;
        padding: 0 15px 0 40px;
        line-height: 40px;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        text-align: left;
        background: $grey url('../graphics/content_icons.png') no-repeat left -40px;
      }

      .toc-list {
        padding: 0 15px 15px 3px;

        ul {
          border-left: 1px solid $grey;
          margin-left: 20px;
          padding-top: 1px;

          li {
            margin-top: 30px;
            clear: both;
            border-top: 1px solid $grey;

            a {
              display: block;
              margin-top: -10px;
              margin-bottom: -10px;
              background-color: $interface-light;
              margin-left: 13px;
              float: left;
              width: 100%;
              height: 18px;
              padding: 0 10px 5px 5px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            &.parent {

              > a {
                background-image: url('../graphics/toctree_parent.png');
                background-repeat: no-repeat;
                background-position: left 3px;
                padding: 0 2px 5px 15px;
              }
            }
          }
        }
      }
    }

    .book-navigation {

      ul.menu {
        border-top: 1px solid $interface-border;
        padding: 15px;

        li {

          &:before {
            content: "›";
            color: $blue-dark;
            font-size: 16px;
            padding-right: 7px;
          }
        }
      }

      .page-links {
        border-bottom: 0px none;
        border-top: 1px solid $interface-border;
        padding: 15px;
      }
    }
  }

  &.view-mode-teaser {
    overflow: hidden;

    .left-col {
      float: left;
      margin-right: 15px;
    }

    .right-col {
      overflow: hidden;

        h3 {
          line-height: 1.4em;
          margin-top: 0px;

        .type {
          font-size: 14px;
          color: $interface-grey;
          text-transform: capitalize;
        }
      }

      .summary {
        margin-bottom: 15px;
      }

      .publishing-info {
        color: $interface-grey;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        padding-left: 22px;
        background: url('../graphics/icon-sprite.png') no-repeat -10px -172px;

        a.author {
          color: $dark;
        }
      }
    }
  }
}

.node-type-wiki {

  @include pagenode;
}